In [131]:
!pip install git+git://github.com/andreinechaev/nvcc4jupyter.git
!apt-get install flex bison libc6-dbg gdb valgrind
%load_ext nvcc_plugin

Collecting git+git://github.com/andreinechaev/nvcc4jupyter.git
  Cloning git://github.com/andreinechaev/nvcc4jupyter.git to /tmp/pip-req-build-qs9eks6h
  Running command git clone -q git://github.com/andreinechaev/nvcc4jupyter.git /tmp/pip-req-build-qs9eks6h
Requirement already satisfied (use --upgrade to upgrade): NVCCPlugin==0.0.2 from git+git://github.com/andreinechaev/nvcc4jupyter.git in /usr/local/lib/python3.6/dist-packages
Building wheels for collected packages: NVCCPlugin
  Building wheel for NVCCPlugin (setup.py) ... done
  Created wheel for NVCCPlugin: filename=NVCCPlugin-0.0.2-cp36-none-any.whl size=4307 sha256=cea9bf4dd158c07d2ff3eacb5d4044a676a45f9516d1992bd9ddf917f4741e28
  Stored in directory: /tmp/pip-ephem-wheel-cache-umc8veba/wheels/10/c2/05/ca241da37bff77d60d31a9174f988109c61ba989e4d4650516
Successfully built NVCCPlugin
Reading package lists... Done
Building dependency tree
Reading state information... Done
bison is already the newest version (2:3.0.4.dfsg-1build1).
flex is already the newest version (2.6.4-6).
0 upgraded, 0 newly installed, 0 to remove and 29 not upgraded.
The nvcc_plugin extension is already loaded. To reload it, use:
  %reload_ext nvcc_plugin

In [207]:
%%writefile table.h
#pragma once

#include <iostream>
#include <map>
#include <iomanip>
#include <limits>
#include <vector>
#include <string>

#ifdef TEXTTABLE_ENCODE_MULTIBYTE_STRINGS
#include <clocale>
#ifndef TEXTTABLE_USE_EN_US_UTF8
#define TEXTTABLE_USE_EN_US_UTF8
#endif
#endif

class TextTable {

    public:
    enum class Alignment { LEFT, RIGHT }; 
    typedef std::vector< std::string > Row;
    TextTable() :
        _horizontal( '-' ),
        _vertical( '|' ),
        _corner( '+' ),
		_has_ruler(true)
    {}

    TextTable( char horizontal, char vertical, char corner ) :
        _horizontal( horizontal ),
        _vertical( vertical ),
        _corner( corner ),
		_has_ruler(true)
    {}
    
    explicit TextTable( char vertical ) :
        _horizontal( '\0' ),
        _vertical( vertical ),
        _corner( '\0' ),
		_has_ruler( false )
    {}

    void setAlignment( unsigned i, Alignment alignment )
    {
        _alignment[ i ] = alignment;
    }

    Alignment alignment( unsigned i ) const
    { return _alignment[ i ]; }

    char vertical() const
    { return _vertical; }

    char horizontal() const
    { return _horizontal; }

    void add( std::string const & content )
    {
        _current.push_back( content );
    }

    void endOfRow()
    {
        _rows.push_back( _current );
        _current.assign( 0, "" );
    }

    template <typename Iterator>
    void addRow( Iterator begin, Iterator end )
    {
        for( auto i = begin; i != end; ++i ) {
           add( * i ); 
        }
        endOfRow();
    }

    template <typename Container>
    void addRow( Container const & container )
    {
        addRow( container.begin(), container.end() );
    }

    std::vector< Row > const & rows() const
    {
        return _rows;
    }

    void setup() const
    {
        determineWidths();
        setupAlignment();
    }

    std::string ruler() const
    {
        std::string result;
        result += _corner;
        for( auto width = _width.begin(); width != _width.end(); ++ width ) {
            result += repeat( * width, _horizontal );
            result += _corner;
        }

        return result;
    }

    int width( unsigned i ) const
    { return _width[ i ]; }

	bool has_ruler() const { return _has_ruler;}

	int correctDistance(std::string string_to_correct) const
		{
			return static_cast<int>(string_to_correct.size()) - static_cast<int>(glyphLength(string_to_correct));
		};
	
    private:
    const char _horizontal;
    const char _vertical;
    const char _corner;
    const bool _has_ruler;
    Row _current;
    std::vector< Row > _rows;
    std::vector< unsigned > mutable _width;
	std::vector< unsigned > mutable _utf8width;
    std::map< unsigned, Alignment > mutable _alignment;
	
    static std::string repeat( unsigned times, char c )
    {
        std::string result;
        for( ; times > 0; -- times )
            result += c;

        return result;
    }

    unsigned columns() const
    {
        return _rows[ 0 ].size();
    }

	unsigned glyphLength( std::string s ) const
	{
		unsigned int _byteLength = s.length();
#ifdef TEXTTABLE_ENCODE_MULTIBYTE_STRINGS
#ifdef TEXTTABLE_USE_EN_US_UTF8
		std::setlocale(LC_ALL, "en_US.utf8");
#else
#error You need to specify the encoding if the TextTable library uses multybyte string encoding!
#endif
		unsigned int u = 0;
		const char *c_str = s.c_str();
		unsigned _glyphLength = 0;
		while(u < _byteLength)
		{
			u += std::mblen(&c_str[u], _byteLength - u);
			_glyphLength += 1;
		}
		return _glyphLength;
#else
		return _byteLength;
#endif
	}
	
    void determineWidths() const
    {
        _width.assign( columns(), 0 );
		_utf8width.assign( columns(), 0 );
        for ( auto rowIterator = _rows.begin(); rowIterator != _rows.end(); ++ rowIterator ) {
            Row const & row = * rowIterator;
            for ( unsigned i = 0; i < row.size(); ++i ) {
                _width[ i ] = _width[ i ] > glyphLength(row[ i ]) ? _width[ i ] : glyphLength(row[ i ]);
            }
        }
    }

    void setupAlignment() const
    {
        for ( unsigned i = 0; i < columns(); ++i ) {
            if ( _alignment.find( i ) == _alignment.end() ) {
                _alignment[ i ] = Alignment::LEFT;
            }
        }
    }
};

inline std::ostream & operator<<( std::ostream & stream, TextTable const & table )
{
    table.setup();
	if (table.has_ruler()) {
	    stream << table.ruler() << "\n";
	}
    for ( auto rowIterator = table.rows().begin(); rowIterator != table.rows().end(); ++ rowIterator ) {
        TextTable::Row const & row = * rowIterator;
        stream << table.vertical();
        for ( unsigned i = 0; i < row.size(); ++i ) {
            auto alignment = table.alignment( i ) == TextTable::Alignment::LEFT ? std::left : std::right;
			// std::setw( width ) works as follows: a string which goes in the stream with byte length (!) l is filled with n spaces so that l+n=width.
			// For a utf8 encoded string the glyph length g might be smaller than l. We need n spaces so that g+n=width which is equivalent to g+n+l-l=width ==> l+n = width+l-g
			// l-g (that means glyph length minus byte length) has to be added to the width argument.
			// l-g is computed by correctDistance.
            stream << std::setw( table.width( i ) + table.correctDistance(row[ i ])) << alignment << row[ i ];
            stream << table.vertical();
        }
        stream << "\n";
		if (table.has_ruler()) {
        	stream << table.ruler() << "\n";
		}
    }

    return stream;
}

Overwriting table.h

In [208]:
%%writefile template.h

template <typename Iterator>
class strided_range
{
	public:

	typedef typename thrust::iterator_difference<Iterator>::type difference_type;

	struct stride_functor : public thrust::unary_function<difference_type,difference_type>
	{
		difference_type stride;

		stride_functor(difference_type stride)
			: stride(stride) {}

		__host__ __device__
		difference_type operator()(const difference_type& i) const
		{
			return stride * i;
		}
	};

	typedef typename thrust::counting_iterator<difference_type>						CountingIterator;
	typedef typename thrust::transform_iterator<stride_functor, CountingIterator>	TransformIterator;
	typedef typename thrust::permutation_iterator<Iterator,TransformIterator>		PermutationIterator;

	// type of the strided_range iterator
	typedef PermutationIterator iterator;

	// construct strided_range for the range [first,last)
	strided_range(Iterator first, Iterator last, difference_type stride)
		: first(first), last(last), stride(stride) {}

	iterator begin(void) const
	{
		return PermutationIterator(first, TransformIterator(CountingIterator(0), stride_functor(stride)));
	}

	iterator end(void) const
	{
		return begin() + ((last - first) + (stride - 1)) / stride;
	}

	protected:
	Iterator first;
	Iterator last;
	difference_type stride;
};


template <typename Iterator>
class repeated_range
{
	public:

	typedef typename thrust::iterator_difference<Iterator>::type difference_type;

	struct repeat_functor : public thrust::unary_function<difference_type,difference_type>
	{
		difference_type repeats;

		repeat_functor(difference_type repeats)
			: repeats(repeats) {}

		__host__ __device__
		difference_type operator()(const difference_type& i) const
		{ 
			return i / repeats;
		}
	};

	typedef typename thrust::counting_iterator<difference_type>					 CountingIterator;
	typedef typename thrust::transform_iterator<repeat_functor, CountingIterator> TransformIterator;
	typedef typename thrust::permutation_iterator<Iterator,TransformIterator>	 PermutationIterator;

	// type of the repeated_range iterator
	typedef PermutationIterator iterator;

	// construct repeated_range for the range [first,last)
	repeated_range(Iterator first, Iterator last, difference_type repeats)
		: first(first), last(last), repeats(repeats) {}
	 
	iterator begin(void) const
	{
		return PermutationIterator(first, TransformIterator(CountingIterator(0), repeat_functor(repeats)));
	}

	iterator end(void) const
	{
		return begin() + repeats * (last - first);
	}
	
	protected:
	Iterator first;
	Iterator last;
	difference_type repeats;
};

template <typename Iterator>
class tiled_range
{
	public:

	typedef typename thrust::iterator_difference<Iterator>::type difference_type;

	struct tile_functor : public thrust::unary_function<difference_type,difference_type>
	{
		difference_type tile_size;

		tile_functor(difference_type tile_size)
			: tile_size(tile_size) {}

		__host__ __device__
		difference_type operator()(const difference_type& i) const
		{ 
			return i % tile_size;
		}
	};

	typedef typename thrust::counting_iterator<difference_type>					 CountingIterator;
	typedef typename thrust::transform_iterator<tile_functor, CountingIterator>	 TransformIterator;
	typedef typename thrust::permutation_iterator<Iterator,TransformIterator>	 PermutationIterator;

	// type of the tiled_range iterator
	typedef PermutationIterator iterator;

	// construct repeated_range for the range [first,last)
	tiled_range(Iterator first, Iterator last, difference_type tiles)
		: first(first), last(last), tiles(tiles) {}
	 
	iterator begin(void) const
	{
		return PermutationIterator(first, TransformIterator(CountingIterator(0), tile_functor(last - first)));
	}

	iterator end(void) const
	{
		return begin() + tiles * (last - first);
	}
	
	protected:
	Iterator first;
	Iterator last;
	difference_type tiles;
};

Overwriting template.h

In [220]:
%%writefile lex.l
%{ 
 	#include <iostream>
 	#include <string>
	#include "yacc.hu"
	void yyerror(std::string s);
	extern int yyreject(void);
	extern int line;
%}

%% 
\#.*		;
(?i:exit)			{return EXIT;}
(?i:use)			{return USE;}
(?i:limit)			{return LIMIT;}
(?i:inner) 			{return INNER;}
(?i:outer) 			{return OUTER;}
(?i:left) 			{return LEFT;}
(?i:right) 			{return RIGHT;}
(?i:full) 			{return FULL;}
(?i:join) 			{return JOIN;}
(?i:select) 		{return SELECT;}
(?i:from) 			{return FROM;}
(?i:where)	 		{return WHERE;}
(?i:and) 			{return AND;}
(?i:or) 				{return OR;}
(?i:not)				{return '!';}
(?i:as) 				{return AS;}
(?i:on) 				{return ON;}
(?i:sum) 			{return SUM;}
(?i:count) 		{return COUNT;}
(?i:avg) 			{return AVG;}
(?i:max) 			{return MAX;}
(?i:min) 			{return MIN;}
(?i:order_by) 	{return ORDER_BY;}
(?i:asc) 			{return ASC;}
(?i:desc) 			{return DESC;}
"||"		{return  OR;}
"=="		{return  EQ;}
"!="		{return  NEQ;}
"<="		{return  LEQ;}
">="		{return  GEQ;}
"&&"		{return  AND;}
;|,|\[|\]|\*|\(|\)|\=|\{|\}|\.	{return  *yytext;}
\<|\>|\+|\-|\/|\%|\!|\&			{return  *yytext;}
[_a-zA-Z][_a-zA-Z0-9]* 	{return  IDENTIFIER;}
[0-9]+ 			{return  INTEGER_LITERAL;}
([0-9]+\.[0-9]*|[0-9]*\.[0-9]+) {return  FLOAT_LITERAL;}
[ \t]	;
.	{yyerror("Invalid Input");}	
%% 

int yywrap(void) {
    return 1;
}

Overwriting lex.l

In [135]:
from getpass import getpass
username = getpass("Username:")
password = getpass('Password:')

!git clone https://$username:$password@github.com/trrishabh/GPU_Database.git

Username:··········
Password:··········
fatal: destination path 'GPU_Database' already exists and is not an empty directory.

In [277]:
%%writefile header.h

#include <iostream>
#include <string>
#include <fstream>
#include <set>
#include <unordered_map>
#include <setjmp.h>
#include <utility>
#include <thrust/extrema.h>
#include <stdlib.h>

#include <cuda.h>
#include <sys/stat.h>
#include <thrust/iterator/counting_iterator.h>
#include <thrust/iterator/transform_iterator.h>
#include <thrust/iterator/permutation_iterator.h>
#include <thrust/iterator/discard_iterator.h>
#include <thrust/functional.h>
#include <thrust/fill.h>
#include <thrust/host_vector.h>
#include <thrust/device_vector.h>
#include <thrust/transform.h>
#include <thrust/reduce.h>
#include <thrust/gather.h>
#include <thrust/scan.h>
#include <thrust/binary_search.h>

#include "table.h"
#include "template.h"

#define INT_FLAG -2147483648
#define FLOAT_FLAG 1.17549e-38

//----------------------- program global variables and function declaration-----------------------------

//variables to capture time taken by a query
extern cudaEvent_t start, stop;
extern float et;

//jmup buffer : jump to ignore the current query when some error has occurred
extern jmp_buf env_buffer;

//path of current database
extern std::string dbpath;

//count for temporary table
extern int tmp_table;

//true if we want to print tables in the output
extern bool print_tables;

//flag to start storing temporary table into files
extern int tmp_table_limit;

//------------------------------------lex yacc extern variables and functions-----------------------------------------

extern char* yytext;

//called when some error has occurred completly ignores the current executing query and jump to next query  
void yyerror(std::string);

//lex function to take input to do the lexing
int yylex(void);

typedef struct yy_buffer_state * YY_BUFFER_STATE;
extern YY_BUFFER_STATE yy_scan_string(const char * str); // it does not work.
extern YY_BUFFER_STATE yy_scan_buffer(char *, size_t);
extern void yy_delete_buffer(YY_BUFFER_STATE buffer);
extern void yy_switch_to_buffer(YY_BUFFER_STATE buffer);
#define YYSTYPE struct node *


//------------------------------------structures and class -------------------------------------------------------------

//AST node
typedef struct node{
  
  //pointer to name of the AST node 
  std::string *name;

  //pointer to id of the AST node
  std::string *id;

  //pointer to childrens of AST node 
  node * child[10];

  //number of childrens of AST node
  int size;
}node;


struct functor1 : public thrust::unary_function<int, int>
{
	int K;
	functor1(int k): K(k) {};
	__host__ __device__ int operator()(const int &x) {
	return x/K;
	}
};

struct functor2 : public thrust::unary_function<int, int>
{
	int K,N;
	functor2(int n,int k): N(n),K(k) {};
	__host__ __device__ int operator()(const int &x) {
		int d = x/N;
		int r = x%N;
	return K*r+d;
	}
};

//type int to float
struct to_float{
	__host__ __device__ float operator()(int &x) const{
    if(x == INT_FLAG)
      return FLOAT_FLAG;
		return (float)x;
	}
};

//float modulus 
struct fmodulus{
	__host__ __device__ float operator()(float &x, float &y) const{
		return fmod(x,y);
	}
};


//column data type
class column{
  public:

    //name of table
    std::string tname;
    
    //type of column  0: int , 1: float
    int type;

    //column storage for int type
    thrust::device_vector<int> i;

    //column storage for float type
    thrust::device_vector<float> f;

    //constructor
    column();
};

//table data type
class table
{
  private:
 
    // column name to column mapping
    std::unordered_map<std::string,column> umap;
 
  public:
    
    // table name and its alias
    std::string name;
 
    // name of table in our database 
    std::string original_name;
 
    //key of table 
    thrust::device_vector<bool> key;
 
    bool flag;
    
    //name of all the columns of table
    std::set<std::string> columnNames;
 
    //number of rows in the table
    int row_count;
 
    //constructor
    table(std::string nn = "");
    
    //returns parse column name from colname
    std::string get_column_name(std::string colname);
 
    //returns column with name col
    column &get_column(std::string col);

    //copy the column col into the table with column name as colname
    void set_column(std::string colname,column &col);

    //prints the table
    void print(int row_limit = -1);

    //number of loaded column in the table
    int size();

    //returns the first column in the table
    column &get_first_column();
    
    //retunrs name of first column in loaded column
    std::string get_first_column_name();

    //creates a new column and returns reference to it
    column &new_column(std::string cname);

    //erase column with name as cname
    void erase_column(std::string cname);

    //prints all the loaded column of table
    void print_column();
    
    //apply condition on the table 
    void updatekey(table &t1);
  
    //renaming column with name cname1 to cname2
    void move_column(std::string cname1,std::string cname2);

    //moving the content of col into current table as cname
    void copy_column(std::string cname,column &col);

    //writing metadata of the temporary table
    void write_metadata(std::string tname = "",int nrows = 0, int ncols = 0);

    //writing column of temporary table
    void write_column(std::string cname);

    //writes the temporary table
    void write(std::string tname );

    //clear all the vector assigned to columns of the table
    void clear();
};

//create a AST node with given parameters 
node * makenode(std::string id,std::string name, node *c1 = NULL, node *c2 = NULL, node *c3 = NULL, node *c4 = NULL, node *c5 = NULL, node *c6 = NULL, node *c7 = NULL, node *c8 = NULL, node *c9 = NULL, node *c10 = NULL );

//t1 is a column, t2 is a column, 
//this function does binary operation (op) on both the columns 
void binary_op(table & t1, table & t2,const std::string &op);

//t1 is a column
//this function does unary operation on the column and write the output in t1
void unary_op(table & t1, std::string &op);

//t1 is a table with multiple columns, t2 is a column which represent the key of the table t1
//this function apply the condition in t2 to table t1 and write the output in t1
void apply_result(table &t1, table &t2);

//t1 and t2 both are tables with multiple columns
//this function find the corss product of both the tables and write the output in t1
//---- special case if number of rows in the output is more than tmp_table_limit then we write it as temporary table
table &cross_prod(table &t1,table &t2);

//t1 is a table with multiple column representing cross product of table t3 and t4, 
//t2 is a column representing the key of the table t1, t5 is a int which represent the type of join
void eval_join(table &t1,table &t2,table &t3,table &t4,table &t5);

//t1 is a column, agunc is name of aggregated function, new_name is name of column
void aggregate_function(table &t1, std::string agfunc, std::string new_name);

//t2 is a table, col_order is name of column on which sorting has to be done,
//col_present is true if col_order is present in the t2, is_desc is true if we are suppose to sort t1 in descending order
void make_sorted(table &t2, std::string col_order, bool col_present, bool is_desc = false);

//does analysis on the AST tree, depending on the id of AST node 
table &eval(node *root,table &t);

//sets the size of orig to siz by appending spaces at the front
void rjust(std::string &orig, int siz);

Overwriting header.h

In [278]:
%%writefile source.cu
#include "header.h"

cudaEvent_t start, stop;
float et;
jmp_buf env_buffer;
std::string dbpath;
int tmp_table;
bool print_tables;
int tmp_table_limit;

column::column()
{
  type = -1;
  tname = "";
}



table::table(std::string nn)
{
  name = nn;
  original_name = nn;
  flag = false;
  umap.clear();
  row_count = -1;
  if(nn != "")
  {
    std::ifstream f;
    std::string table_name = dbpath + original_name + ".txt";
    f.open(table_name);
    if(!f.is_open())
    {
      yyerror(name + " : No such table2 ");
    }
    std::string cur_word, meta;
    int num_rows;
    int num_cols;
    f >> num_rows;
    f >> num_cols;
    row_count = num_rows;
    getline(f,meta);
    f.close();
    std::stringstream s(meta);
    while(num_cols--)
    {
        s >> cur_word;
        columnNames.insert(cur_word);
        s >> cur_word;
        s >> cur_word;
    }	
  }
}
std::string table::get_column_name(std::string colname)
{
  size_t found = colname.find_first_of(".");
  std::string tname = colname.substr(0,found);
  std::string cname = colname.substr(found+1);
  if(found != std::string::npos && tname == name)
    colname = cname;
  return colname;
}
column& table::get_column(std::string col)
{
  col = this->get_column_name(col);
  if(umap.find(col) != umap.end())
    return umap[col];
      
  if(original_name == "")
    yyerror(col + " : Column not found.");
  
  std::ifstream f;
  std::string table_name = dbpath + original_name + ".txt";
  f.open(table_name);
  
  if(!f.is_open())
    yyerror(name + " : No such table3 ");
  
  std::string cur_word, col_type;
  int get_num, num_rows, num_cols, offset_of_col, is_present;
  bool flag = false;
  f >> num_rows;
  f >> num_cols;
  while(num_cols--)
  {
    f >> cur_word;
    if(cur_word == col)
      {
        f >> col_type;
        f >> offset_of_col;
        flag = true;
        break;
      }
    else
    {
        f >> cur_word;
        f >> get_num;
    }
  }
  if(flag)
  {
      column &newCol = umap[col];
      newCol.tname = name;
      f.seekg(offset_of_col,std::ios::beg);
      f >> is_present;
      if(is_present)
        f >> newCol.tname;
      int row_iter = 0;
      if(col_type == "int")
      {
          newCol.type = 0;
          thrust::host_vector<int> h(num_rows);
          while(row_iter < num_rows)
          {
            f >> h[row_iter++];
          }
          newCol.i = h;
      }
      else
      {
          newCol.type = 1;
          thrust::host_vector<float> h(num_rows);
          while(row_iter < num_rows)
          {
            f >> h[row_iter++];
          }
          newCol.f = h;
      }
  }
  else
  {
    {
      std::cout<<"column of " + original_name <<std::endl;
      for(auto c:columnNames)
        std::cout<<c<<" ";
      std::cout<<std::endl;
    }
    yyerror(col + " : No such column found in database -- '" + name + "' ---- " + original_name);
  }
  f.close();
  
  if(key.size() != 0)
  {
    column &col_ = umap[col];
    if(col_.type)
    {
      thrust::device_vector<float>::iterator it_end;
      it_end = thrust::remove_if(col_.f.begin(),col_.f.end(),key.begin(),thrust::logical_not<bool>());
      col_.f.resize(it_end - col_.f.begin());
    }else
    {
      thrust::device_vector<int>::iterator it_end;
      it_end = thrust::remove_if(col_.i.begin(),col_.i.end(),key.begin(),thrust::logical_not<bool>());
      col_.i.resize(it_end - col_.i.begin());
    }
  }
  return umap[col];
}

void table::set_column(std::string colname,column &col)
{
  colname = this->get_column_name(colname);
  umap[colname] = col;
  if(col.type)
    row_count = col.f.size();
  else
    row_count = col.i.size();
  columnNames.insert(colname);
}

void table::print(int row_limit)
{
  std::cout<<std::endl;
  class col{
    public:
      int type;
      thrust::host_vector<int> i;
      thrust::host_vector<float> f;
  };
  std::unordered_map<std::string,col>::iterator it;
  std::unordered_map<std::string,col> umap;
  for(auto &p: this->umap)
  {
    umap[p.first].type = p.second.type;
    if(p.second.type)
      umap[p.first].f = p.second.f;
    else
      umap[p.first].i = p.second.i;
  }
  
  int tot_row = row_count;
  
  cudaEventRecord(stop);
  cudaEventSynchronize(stop);
  cudaEventElapsedTime(&et, start, stop);

  if(tot_row == 0)
  {
    std::cout<<"Empty set in "<<et/1000<<" seconds."<<std::endl;
    return;
  }
  
  it = umap.begin();
  TextTable t( '-', '|', '+' );
  while(it != umap.end())
  {
    t.add(it->first);
    it++;
  }
  t.endOfRow();
  int row_max = tot_row;
  if(row_limit != -1 && row_limit < row_max)
      row_max = row_limit;
  if(print_tables)
  {
    for(int cur_row = 0; cur_row < row_max; cur_row++)
    {	
      it = umap.begin();
      while(it != umap.end())
      {
        if((it->second).type)
          t.add( ((it->second).f[cur_row] != FLOAT_FLAG) ? std::to_string((it->second).f[cur_row]) : "NULL");
        else
          t.add( ((it->second).i[cur_row] != INT_FLAG) ? std::to_string((it->second).i[cur_row]) : "NULL");
        it++;
      }
      t.endOfRow();
    }
    t.setAlignment( 2, TextTable::Alignment::LEFT );
    std::cout << t;
  } 
  std::cout<<tot_row<< " rows in "<<et/1000<<" seconds."<<std::endl;
}

int table::size()
{
  return umap.size();
}

column& table::get_first_column()
{
  if(umap.size() == 0)
    yyerror("Table is empty.");
  return umap.begin()->second;
}

std::string table::get_first_column_name()
{
  if(umap.size() == 0)
    yyerror("Table is empty.");
  return umap.begin()->first;
}
column& table::new_column(std::string cname)
{
  cname = this->get_column_name(cname);
  if(columnNames.find(cname) != columnNames.end() || umap.find(cname) != umap.end())
    yyerror(cname + " : Column already exist");
  columnNames.insert(cname);
  return umap[cname];
}

void table::erase_column(std::string cname)
{
  cname = this->get_column_name(cname);
  if(columnNames.find(cname) == columnNames.end() && umap.find(cname) == umap.end())
    yyerror(cname + " : No such Column to erase");
  columnNames.erase(cname);
  umap.erase(cname);
}

void table::print_column()
{
  std::cout<<"Column of '"<<name<<"' :"<<std::endl;
  for(auto p:umap)
    std::cout<<p.first<<" ";
  std::cout<<std::endl;
}

void table::updatekey(table &t1)
{
  if(t1.size() != 1)
    yyerror("Invalid Opeartion : key is not present");
  column &col = t1.get_first_column();
  if(col.type)
  {
    key.resize(col.f.size());
    thrust::transform(col.f.begin(),col.f.end(),key.begin(),[=] __device__ __host__  (float &f) { return (f==0) ? false : true;});
  }
  else
  {
    key.resize(col.i.size());
    thrust::transform(col.i.begin(),col.i.end(),key.begin(),[=] __device__ __host__ (int &i) { return (i==0) ? false : true;});
  }
  
  row_count = thrust::count_if(key.begin(),key.end(),thrust::identity<bool>());
  //applying key on loaded columns 
  for(auto &p:umap)
  {
    column &col = p.second;
    if(col.type)
    {
      thrust::device_vector<float>::iterator it_end;
      it_end = thrust::remove_if(col.f.begin(),col.f.end(),key.begin(),thrust::logical_not<bool>());
      col.f.resize(it_end - col.f.begin());
    }
    else
    {
      thrust::device_vector<int>::iterator it_end;
      it_end = thrust::remove_if(col.i.begin(),col.i.end(),key.begin(),thrust::logical_not<bool>());
      col.i.resize(it_end - col.i.begin());
    }
  }
}

void table::move_column(std::string cname1,std::string cname2)
{
  cname1 = this->get_column_name(cname1);
  cname2 = this->get_column_name(cname2);
  umap[cname2] = std::move(umap[cname1]);
  umap.erase(cname1);
  /*auto nodeHandler = umap.extract(cname1);
  nodeHandler.key() = cname2;
  umap.insert(std::move(nodeHandler));*/
  columnNames.erase(cname1);
  columnNames.insert(cname2);
}

void table::copy_column(std::string cname,column &col)
{
  cname = this->get_column_name(cname);
  umap[cname] = std::move(col);
  columnNames.insert(cname);
}

void table::write_metadata(std::string tname,int nrows, int ncols)
{
  if(tname != "")
    original_name = tname;
  //write information related to table 
  //-------useless-----write meta data using use column names from s1 and s2;
  std::ofstream f;
  std::string table_name_cur = dbpath + tname + ".txt";
  f.open(table_name_cur);
  if(!f.is_open())
  {
    yyerror(name + " : Unable to write temporaray table");
  }
  std::string to_writ, cur_wrd;
  to_writ = std::to_string(nrows) + " " + std::to_string(ncols);
  rjust(to_writ,999);
  to_writ += "\n";
  f << to_writ;
  f.close();
}

void table::write_column(std::string cname)
{
  //write metadata and values 
  //of this->get_column(cname) in to file
  column &tcol = this->get_column(cname);
  std::ifstream f;
  std::string table_name = "./" + original_name + ".txt";
  f.open(table_name);
  if(!f.is_open())
  {
    yyerror(name + " : No such table to write column ");
  }
  std::string to_add, meta;
  int nrows,ncols;
  f >> nrows;
  f >> ncols;
  getline(f,meta);
  f.close();
  
  to_add = " "+cname;
  if(tcol.type)
    to_add += " float ";
  else
    to_add += " int ";
  std::string fin_col = "", ele_str;
  fin_col = "1 ";
  rjust(fin_col,12);
  ele_str = tcol.tname;
  fin_col += (ele_str + " ");

  if(tcol.type)
  {
      thrust::host_vector<float> f = tcol.f;
      tcol.f.clear();
      for(int c_it = 0;c_it < nrows;c_it++)
      {
        ele_str = std::to_string(f[c_it]);
        rjust(ele_str,12);
        if(c_it == (nrows-1))
          fin_col += ele_str + "\n";
        else
          fin_col += ele_str + " ";
      }
  }
  else
  {
      thrust::host_vector<int> i = tcol.i;
      tcol.i.clear();
      for(int c_it = 0;c_it < nrows;c_it++)
      {
        ele_str = std::to_string(i[c_it]);
        rjust(ele_str,12);
        if(c_it == (nrows-1))
          fin_col += ele_str + "\n";
        else
          fin_col += ele_str + " ";
      }
  }
  std::ofstream fot;
  fot.open(table_name,std::ios::in | std::ios::out);
  fot.seekp(0,std::ios::end);
  int last = fot.tellp();
  to_add += std::to_string(last);
  to_add += "\n"; 
  std::string fin_meta = std::to_string(nrows) + " " + std::to_string(ncols+1) + " " + meta + to_add;
  rjust(fin_meta,1000);
  fot << fin_col;
  fot.seekp(0,std::ios::beg);
  fot << fin_meta;
  fot.close();
  umap.erase(cname);	//dont erase cname from this->columnNames 
}

void table::write(std::string tname = "")
{
  this->write_metadata(tname);
  for(auto cname:this->columnNames)
    this->write_column(cname);
}

void table::clear()
{
  columnNames.clear();
  for(auto &p:umap)
    p.second.i.clear(),p.second.f.clear();
  umap.clear();
}

Overwriting source.cu

In [335]:
%%writefile function.cu
#include "header.h"

node * makenode(std::string id,std::string name, node *c1 , node *c2 , node *c3 , node *c4 , node *c5 , node *c6 , node *c7 , node *c8 , node *c9 , node *c10)
{
  node * nn = new node;
  nn->name = new std::string;
  nn->id = new std::string;
  *(nn->id) = id;
  *(nn->name) = name;
  
  nn->child[0] = c1;
  nn->child[1] = c2;
  nn->child[2] = c3;
  nn->child[3] = c4;
  nn->child[4] = c5;
  nn->child[5] = c6;
  nn->child[6] = c7;
  nn->child[7] = c8;
  nn->child[8] = c9;
  nn->child[9] = c10;
  
  nn->size = 0;
  for(int i=0;i<10;i++)
    if(nn->child[i])
      nn->size++;
  
  return nn;
  if(c1)
    nn->child[0] = c1,nn->size++;
  if(c2)
    nn->child[1] = c2,nn->size++;
  if(c3)
    nn->child[2] = c3,nn->size++;
  if(c4)
    nn->child[3] = c4,nn->size++;
  if(c5)
    nn->child[4] = c5,nn->size++;
  if(c6)
    nn->child[5] = c6,nn->size++;
  if(c7)
    nn->child[6] = c7,nn->size++;
  if(c8)
    nn->child[7] = c8,nn->size++;
  if(c9)
    nn->child[8] = c9,nn->size++;
  if(c10)
    nn->child[9] = c10,nn->size++;

  return nn;
}

void yyerror(std::string s) 
{
	std::cout<<std::endl<<s<<std::endl<<std::endl;
	longjmp(env_buffer, 1);
}

void rjust(std::string &orig, int siz)
{
		int cur_len = orig.length();
		siz -= cur_len;
		orig = std::string(siz,' ') + orig;
}

void binary_op(table & t1, table & t2,const std::string &op)
{
	if(!(t1.size() == 1 && t2.size() == 1))
		yyerror("Invalid operation : operand is not a column (binary operation)");
	
	column &col1 = t1.get_first_column();
	column &col2 = t2.get_first_column();
	
	if(col1.type != col2.type)
	{
		if(col1.type)
		{
			thrust::device_vector<float> &key1 = col2.f;
			to_float funt;
			key1.resize(col2.i.size());
			thrust::transform(col2.i.begin(),col2.i.end(),key1.begin(),funt);
			col2.i.clear();
			col2.type = 1;
		}else
		{
			thrust::device_vector<float> &key1 = col1.f;
			to_float funt;
			key1.resize(col1.i.size());
			thrust::transform(col1.i.begin(),col1.i.end(),key1.begin(),funt);
			col1.i.clear();
			col1.type = 1;
		}
	}
	
	if(col1.type)
	{
		if(col1.f.size() != col2.f.size())
		{
			if(col1.f.size() == 1 && col2.f.size() > 0)
			{
				col1.f.resize(col2.f.size(),col1.f[0]);
				t1.row_count = t2.row_count;
			}else if(col2.f.size() == 1 && col1.f.size() > 0)
			{
				col2.f.resize(col1.f.size(),col2.f[0]);
				t2.row_count = t1.row_count;
			}else
			{
				yyerror("Invalid operation : operand(columns) size is not equal");
				return;
			}
		}
	}else
	{
		if(col1.i.size() != col2.i.size())
		{
			if(col1.i.size() == 1 && col2.i.size() > 0)
			{
				col1.i.resize(col2.i.size(),col1.i[0]);
				t1.row_count = t2.row_count;
			}else if(col2.i.size() == 1 && col1.i.size() > 0)
			{
				col2.i.resize(col1.i.size(),col2.i[0]);
				t2.row_count = t1.row_count;
			}else
			{
				yyerror("Invalid operation : operand(columns) size is not equal");
				return;
			}
		}
	}
	#undef TRANSFORM
	#define TRANSFORM(op) thrust::transform(key1.begin(),key1.end(),key2.begin(),key1.begin(),op)
	
	assert(t1.row_count == t2.row_count);
	thrust::device_vector<bool> is_null(t1.row_count);	

	if(col1.type)
	{
		thrust::device_vector<float> &key1 = col1.f;
		thrust::device_vector<float> &key2 = col2.f;

		thrust::transform(key1.begin(),key1.end(),key2.begin(),is_null.begin(),[=] __device__ __host__  (float &f1,float &f2) { return (f1==FLOAT_FLAG || f2==FLOAT_FLAG) ? false : true;});
		
		if (op == "NEQ")
			TRANSFORM(thrust::not_equal_to<float>());
		else if (op == ">")
			TRANSFORM(thrust::greater<float>());
		else if (op == "<")
			TRANSFORM(thrust::less<float>());
		else if (op == "GEQ")
			TRANSFORM(thrust::greater_equal<float>());
		else if (op == "LEQ")
			TRANSFORM(thrust::less_equal<float>());
		else if (op == "EQ")
			TRANSFORM(thrust::equal_to<float>());
		else if (op == "OR")
			TRANSFORM(thrust::logical_or<float>());
		else if (op == "AND")
			TRANSFORM(thrust::logical_and<float>());
		else if (op == "+")
			TRANSFORM(thrust::plus<float>());
		else if (op == "-")
			TRANSFORM(thrust::minus<float>());
		else if (op == "*")
			TRANSFORM(thrust::multiplies<float>());
		else if (op == "/")
			TRANSFORM(thrust::divides<float>());
		else if (op == "%")
		{
			fmodulus f;
			TRANSFORM(f);
		}
		else 
			yyerror("Undefined Binary Operation");
		if(op == "+" || op == "-" || op == "*" || op == "/" || op == "%")
			thrust::transform(is_null.begin(),is_null.end(),key1.begin(),key1.begin(),[=] __device__ __host__  (bool &b,float &f) { return (b==false) ? FLOAT_FLAG : f;});
		else
			thrust::transform(is_null.begin(),is_null.end(),key1.begin(),key1.begin(),[=] __device__ __host__  (bool &b,float &f) { return (b==false) ? 0 : f;});
	}else
	{
		thrust::device_vector<int> &key1 = col1.i;
		thrust::device_vector<int> &key2 = col2.i;

		thrust::transform(key1.begin(),key1.end(),key2.begin(),is_null.begin(),[=] __device__ __host__  (int &i1,int &i2) { return (i1==INT_FLAG || i2==INT_FLAG) ? false : true;});
		
		if (op == "NEQ")
			TRANSFORM(thrust::not_equal_to<int>());
		else if (op == ">")
			TRANSFORM(thrust::greater<int>());
		else if (op == "<")
			TRANSFORM(thrust::less<int>());
		else if (op == "GEQ")
			TRANSFORM(thrust::greater_equal<int>());
		else if (op == "LEQ")
			TRANSFORM(thrust::less_equal<int>());
		else if (op == "EQ")
			TRANSFORM(thrust::equal_to<int>());
		else if (op == "OR")
			TRANSFORM(thrust::logical_or<int>());
		else if (op == "AND")
			TRANSFORM(thrust::logical_and<int>());
		else if (op == "+")
			TRANSFORM(thrust::plus<int>());
		else if (op == "-")
			TRANSFORM(thrust::minus<int>());
		else if (op == "*")
			TRANSFORM(thrust::multiplies<int>());
		else if (op == "/")
			TRANSFORM(thrust::divides<int>());
		else if (op == "%")
			TRANSFORM(thrust::modulus<int>());
		else 
			yyerror("Undefined Binary Operation");
		
		if(op == "+" || op == "-" || op == "*" || op == "/" || op == "%")
			thrust::transform(is_null.begin(),is_null.end(),key1.begin(),key1.begin(),[=] __device__ __host__  (bool &b,int &i) { return (b==false) ? INT_FLAG : i;});
		else
			thrust::transform(is_null.begin(),is_null.end(),key1.begin(),key1.begin(),[=] __device__ __host__  (bool &b,int &i) { return (b==false) ? 0 : i;});
	}
	
	is_null.clear();

}


void unary_op(table & t1, std::string &op)
{
	if(t1.size() != 1)
	{
		yyerror("Invalid operation : operand is not a column (unary operation)");
		return;
	}
	column &col1 = t1.get_first_column();
	thrust::device_vector<bool> is_null(t1.row_count,false);	
	
	if(col1.type)
	{
		thrust::device_vector<float> &key1 = col1.f;
		thrust::transform(key1.begin(),key1.end(),is_null.begin(),[=] __device__ __host__  (float &f) { return (f==FLOAT_FLAG) ? false : true;});
		if (op == "!")
			thrust::transform(key1.begin(),key1.end(),key1.begin(),thrust::logical_not<float>());
		else if (op == "-")
			thrust::transform(key1.begin(),key1.end(),key1.begin(),thrust::negate<float>());
		else if(op != "+")
			yyerror("Undefined Unary Operation");

		if(op == "!")
			thrust::transform(is_null.begin(),is_null.end(),key1.begin(),key1.begin(),[=] __device__ __host__  (bool &b,float &f) { return (b==false) ? 0 : f;});
		else
			thrust::transform(is_null.begin(),is_null.end(),key1.begin(),key1.begin(),[=] __device__ __host__  (bool &b,float &f) { return (b==false) ? FLOAT_FLAG : f;});
	}else
	{
		thrust::device_vector<int> &key1 = col1.i;
		thrust::transform(key1.begin(),key1.end(),is_null.begin(),[=] __device__ __host__  (int &i) { return (i==INT_FLAG) ? false : true;});
		if (op == "!")
			thrust::transform(key1.begin(),key1.end(),key1.begin(),thrust::logical_not<int>());
		else if (op == "-")
			thrust::transform(key1.begin(),key1.end(),key1.begin(),thrust::negate<int>());
		else if(op != "+")
			yyerror("Undefined Unary Operation");
		
		if(op == "!")
			thrust::transform(is_null.begin(),is_null.end(),key1.begin(),key1.begin(),[=] __device__ __host__  (bool &b,int &i) { return (b==false) ? 0 : i;});
		else
			thrust::transform(is_null.begin(),is_null.end(),key1.begin(),key1.begin(),[=] __device__ __host__  (bool &b,int &i) { return (b==false) ? INT_FLAG : i;});
	}
	is_null.clear();
}


void apply_result(table &t1, table &t2)
{
	int row_count = t1.row_count;
	assert(t1.row_count == t2.row_count);
	if(t2.size() != 1)
		yyerror("Invalid Opeartion : key is not present");
	
	bool flag1 = false,flag2 = false;
	column &key = t2.get_first_column();
	if(key.type)
	{
		if(key.f.size() == 1)
		{
			flag1 = true;
			flag2 = (key.f[0] != 0.0);
		}else if(key.f.size() != row_count)
		{
			yyerror("key size does not match column size");
			return;
		}
	}else
	{
		if(key.i.size() == 1)
		{
			flag1 = true;
			flag2 = (key.i[0] != 0);
		}else if(key.i.size() != row_count)
		{
			yyerror("key size does not match column size");
			return;
		}
	}

	for(auto cname:t1.columnNames)
	{
		column &col = t1.get_column(cname);
		if(col.type)
		{
			if(col.f.size() == 1)
			{
				col.f.resize(row_count,col.f[0]);
			}else if(col.f.size() != row_count)
			{
				yyerror("Column " + cname + " has elements not equal to rowcount of table.");
				return;
			}

			if(flag1)
			{
				if(flag2 == false)
					col.f.clear();
			}else
			{
				thrust::device_vector<float>::iterator it_end;
				if(key.type)
					it_end = thrust::remove_if(col.f.begin(),col.f.end(),key.f.begin(),thrust::logical_not<float>());
				else
					it_end = thrust::remove_if(col.f.begin(),col.f.end(),key.i.begin(),thrust::logical_not<int>());
				int newCount = it_end - col.f.begin();
				col.f.resize(newCount);
				t1.row_count = newCount;
			}
		}else
		{
			if(col.i.size() == 1)
			{
				col.i.resize(row_count,col.i[0]);
			}else if(col.i.size() != row_count)
			{
				yyerror("column " + cname + " has elements not equal to rowcount of table");
				return;
			}

			if(flag1)
			{
				if(flag2 == false)
					col.i.clear();
			}else
			{
				thrust::device_vector<int>::iterator it_end;
				if(key.type)
					it_end = thrust::remove_if(col.i.begin(),col.i.end(),key.f.begin(),thrust::logical_not<float>());
				else
					it_end = thrust::remove_if(col.i.begin(),col.i.end(),key.i.begin(),thrust::logical_not<int>());
				int newCount = it_end - col.i.begin();
				col.i.resize(newCount);
				t1.row_count = newCount;
			}
		}
	}
}

table &cross_prod(table &t1,table &t2)
{
	table &t = *(new table);
	t.row_count = t1.row_count * t2.row_count;
	bool write = false;
	if(t.row_count > tmp_table_limit)
 	{
		write = true;	 	
		t.write_metadata("tmp/table_" + std::to_string(tmp_table++),t.row_count,t1.columnNames.size()+t2.columnNames.size());
	}
	for(auto col_name1:t1.columnNames)
	{
		std::string col_name2 = col_name1;
		if(t2.columnNames.find(col_name1) != t2.columnNames.end())
			col_name2 = t1.get_column(col_name1).tname + "." + col_name1;
		column &col = t.new_column(col_name2);
		column &col1 = t1.get_column(col_name1);
		col.tname = col1.tname;
		if(col1.type)
		{
			col.type = 1;
			col.f.resize(t1.row_count * t2.row_count);
			assert(col1.f.size() == t1.row_count);

			typedef thrust::device_vector<float>::iterator Iterator;
			repeated_range<Iterator> Itr(col1.f.begin(), col1.f.end(), t2.row_count);
			thrust::copy(Itr.begin(), Itr.end(),col.f.begin());
		}else
		{
			col.type = 0;
			col.i.resize(t1.row_count * t2.row_count);
			assert(col1.i.size() == t1.row_count);
			
			typedef thrust::device_vector<int>::iterator Iterator;
			repeated_range<Iterator> Itr(col1.i.begin(), col1.i.end(), t2.row_count);
			thrust::copy(Itr.begin(), Itr.end(),col.i.begin());
		}
		if(write)
			t.write_column(col_name2);
	}
	
	for(auto col_name1 : t2.columnNames)
	{
		std::string col_name2 = col_name1;
		if(t1.columnNames.find(col_name1) != t1.columnNames.end())
			col_name2 = t2.get_column(col_name1).tname + "." + col_name1;
		column &col = t.new_column(col_name2);
		column &col2 = t2.get_column(col_name1);
		col.tname = col2.tname;
		if(col2.type)
		{
			col.type = 1;
			col.f.resize(t1.row_count * t2.row_count);
			assert(col2.f.size() == t2.row_count);
			
			typedef thrust::device_vector<float>::iterator Iterator;
			tiled_range<Iterator> Itr(col2.f.begin(), col2.f.end(), t1.row_count);
			thrust::copy(Itr.begin(), Itr.end(),col.f.begin());
		}else
		{
			col.type = 0;
			col.i.resize(t1.row_count * t2.row_count);
			assert(col2.i.size() == t2.row_count);
			
			typedef thrust::device_vector<int>::iterator Iterator;
			tiled_range<Iterator> Itr(col2.i.begin(), col2.i.end(), t1.row_count);
			thrust::copy(Itr.begin(), Itr.end(),col.i.begin());
		}
		if(write)
			t.write_column(col_name2);
	}


	return t;
}	

void eval_join(table &t1,table &t2,table &t3,table &t4,table &t5)
{
	//t1 corss product, t2 join condition, t3 first table, t4 second table, t5 join type
	if(t5.size() != 1 || t5.get_first_column().type != 0 || t5.get_first_column().i.size() != 1)
		yyerror("Invalid Join : error with join type");
	
	int type = t5.get_first_column().i[0];
	column &cond = t2.get_first_column();
	if(type == 1 || type == 2)
	{
		// cross product and inner join
		apply_result(t1,t2);
	}else if(type == 3)
	{
		// left outer join
		int N = t3.row_count;
		int K = t4.row_count;
		thrust::device_vector<int> sums(N,0);

		if(cond.type)
		{
			thrust::device_vector<float> &data = cond.f;
			assert(data.size() == N*K);
			thrust::transform(data.begin(),data.end(),data.begin(),thrust::placeholders::_1 != 0);
			thrust::reduce_by_key(thrust::device, thrust::make_transform_iterator(thrust::counting_iterator<int>(0), functor1(K)), thrust::make_transform_iterator(thrust::counting_iterator<int>(N*K), functor1(K)), data.begin(), thrust::discard_iterator<int>(), sums.begin());
			
			typedef thrust::device_vector<float>::iterator Iterator;
			strided_range<Iterator> it(data.begin(),data.end(),K);
			thrust::transform(it.begin(),it.end(),sums.begin(),it.begin(),[=] __device__ __host__ (float &a,int &b){return (b == 0) ? 1 : a;});
		} else 
		{
			thrust::device_vector<int> &data = cond.i;
			assert(data.size() == N*K);
			thrust::transform(data.begin(),data.end(),data.begin(),thrust::placeholders::_1 != 0);
			thrust::reduce_by_key(thrust::device, thrust::make_transform_iterator(thrust::counting_iterator<int>(0), functor1(K)), thrust::make_transform_iterator(thrust::counting_iterator<int>(N*K), functor1(K)), data.begin(), thrust::discard_iterator<int>(), sums.begin());
			//thrust::transform(sums.begin(),sums.end(),sums.begin(),thrust::placeholders::_1 == 0);
			
			typedef thrust::device_vector<int>::iterator Iterator;
			strided_range<Iterator> it(data.begin(),data.end(),K);
			thrust::transform(it.begin(),it.end(),sums.begin(),it.begin(),[=] __device__ __host__ (int &a,int &b){return (b == 0) ? 1 : a;});
		}
		for(auto cname:t4.columnNames)
		{
			if(t1.columnNames.find(cname) == t1.columnNames.end())
	 			cname = t4.get_column(cname).tname + "." + cname;
			column &col = t1.get_column(cname);
			if(col.type)
			{
				thrust::device_vector<float> &data = col.f;
				typedef thrust::device_vector<float>::iterator Iterator;
				strided_range<Iterator> it(data.begin(),data.end(),K);
				thrust::transform(it.begin(),it.end(),sums.begin(),it.begin(),[=] __device__ __host__ (float &a,int &b){return (b == 0) ? FLOAT_FLAG : a;});
			}else
			{
				thrust::device_vector<int> &data = col.i;
				typedef thrust::device_vector<int>::iterator Iterator;
				strided_range<Iterator> it(data.begin(),data.end(),K);
				thrust::transform(it.begin(),it.end(),sums.begin(),it.begin(),[=] __device__ __host__ (int &a,int &b){return (b == 0) ? INT_FLAG : a;});
			}
		}
		
		apply_result(t1,t2);
		
	}else if(type == 4)
	{
		//right outer join
		int N = t3.row_count;
		int K = t4.row_count;
		thrust::device_vector<int> sums(K,0);

		if(cond.type)
		{
			thrust::device_vector<float> &data = cond.f;
			assert(data.size() == N*K);
			thrust::device_vector<float> output(data.size());
			thrust::transform(data.begin(),data.end(),data.begin(),thrust::placeholders::_1 != 0);
			thrust::gather(thrust::make_transform_iterator(thrust::counting_iterator<int>(0), functor2(N,K)), thrust::make_transform_iterator(thrust::counting_iterator<int>(N*K), functor2(N,K)), data.begin(), output.begin());
			thrust::reduce_by_key(thrust::device, thrust::make_transform_iterator(thrust::counting_iterator<int>(0), functor1(N)), thrust::make_transform_iterator(thrust::counting_iterator<int>(N*K), functor1(N)), output.begin(), thrust::discard_iterator<int>(), sums.begin());
			
			thrust::transform(data.begin(),data.begin() + K,sums.begin(),data.begin(),[=] __device__ __host__ (float &a,int &b){return (b == 0) ? 1 : a;});
		} else 
		{
			thrust::device_vector<int> &data = cond.i;
			assert(data.size() == N*K);
			thrust::device_vector<int> output(data.size());
			thrust::transform(data.begin(),data.end(),data.begin(),thrust::placeholders::_1 != 0);
			thrust::gather(thrust::make_transform_iterator(thrust::counting_iterator<int>(0), functor2(N,K)), thrust::make_transform_iterator(thrust::counting_iterator<int>(N*K), functor2(N,K)), data.begin(), output.begin());
			thrust::reduce_by_key(thrust::device, thrust::make_transform_iterator(thrust::counting_iterator<int>(0), functor1(N)), thrust::make_transform_iterator(thrust::counting_iterator<int>(N*K), functor1(N)), output.begin(), thrust::discard_iterator<int>(), sums.begin());
			
			thrust::transform(data.begin(),data.begin() + K,sums.begin(),data.begin(),[=] __device__ __host__ (int &a,int &b){return (b == 0) ? 1 : a;});
		}
		for(auto cname:t3.columnNames)
		{
			if(t1.columnNames.find(cname) == t1.columnNames.end())
	 			cname = t3.get_column(cname).tname + "." + cname;
			column &col = t1.get_column(cname);
			if(col.type)
			{
				thrust::device_vector<float> &data = col.f;
				thrust::transform(data.begin(),data.begin() + K,sums.begin(),data.begin(),[=] __device__ __host__ (float &a,int &b){return (b == 0) ? FLOAT_FLAG : a;});
			}else
			{
				thrust::device_vector<int> &data = col.i;
				thrust::transform(data.begin(),data.begin() + K,sums.begin(),data.begin(),[=] __device__ __host__ (int &a,int &b){return (b == 0) ? INT_FLAG : a;});
			}
		}
		
		apply_result(t1,t2);
		
	}else if(type == 5)
	{
		//full outer join
		typedef struct dtypes
		{
			int i;
			float f;
			std::string s;
		}dtypes;
		std::unordered_map<std::string,dtypes> store_overlap;
		{
			// left outer join
			int N = t3.row_count;
			int K = t4.row_count;
			thrust::device_vector<int> sums(N,0);

			if(cond.type)
			{
				thrust::device_vector<float> &data = cond.f;
				assert(data.size() == N*K);
				thrust::transform(data.begin(),data.end(),data.begin(),thrust::placeholders::_1 != 0);
				thrust::reduce_by_key(thrust::device, thrust::make_transform_iterator(thrust::counting_iterator<int>(0), functor1(K)), thrust::make_transform_iterator(thrust::counting_iterator<int>(N*K), functor1(K)), data.begin(), thrust::discard_iterator<int>(), sums.begin());
				//thrust::transform(sums.begin(),sums.end(),sums.begin(),thrust::placeholders::_1 == 0);
				
				typedef thrust::device_vector<float>::iterator Iterator;
				strided_range<Iterator> it(data.begin(),data.end(),K);
				thrust::transform(it.begin(),it.end(),sums.begin(),it.begin(),[=] __device__ __host__ (float &a,int &b){return (b == 0) ? 1 : a;});
				if(sums[0]==0)
					data[0] = 0;
			} else 
			{
				thrust::device_vector<int> &data = cond.i;
				assert(data.size() == N*K);
				thrust::transform(data.begin(),data.end(),data.begin(),thrust::placeholders::_1 != 0);
				thrust::reduce_by_key(thrust::device, thrust::make_transform_iterator(thrust::counting_iterator<int>(0), functor1(K)), thrust::make_transform_iterator(thrust::counting_iterator<int>(N*K), functor1(K)), data.begin(), thrust::discard_iterator<int>(), sums.begin());
				//thrust::transform(sums.begin(),sums.end(),sums.begin(),thrust::placeholders::_1 == 0);
				
				typedef thrust::device_vector<int>::iterator Iterator;
				strided_range<Iterator> it(data.begin(),data.end(),K);
				thrust::transform(it.begin(),it.end(),sums.begin(),it.begin(),[=] __device__ __host__ (int &a,int &b){return (b == 0) ? 1 : a;});
				if(sums[0]==0)
					data[0] = 0;
			}
			
			if(sums[0]==0)
	 		{
				for(auto cname:t1.columnNames)
				{
					column &col = t1.get_column(cname);
					if(col.type)
						store_overlap[cname].f = col.f[0];
					else	
						store_overlap[cname].i = col.i[0];
				}
			}

			for(auto cname:t4.columnNames)
			{
				if(t1.columnNames.find(cname) == t1.columnNames.end())
					cname = t4.get_column(cname).tname + "." + cname;
				column &col = t1.get_column(cname);
				if(col.type)
				{
					thrust::device_vector<float> &data = col.f;
					typedef thrust::device_vector<float>::iterator Iterator;
					strided_range<Iterator> it(data.begin(),data.end(),K);
					thrust::transform(it.begin(),it.end(),sums.begin(),it.begin(),[=] __device__ __host__ (float &a,int &b){return (b == 0) ? FLOAT_FLAG : a;});
					if(sums[0]==0)
		 				col.f[0] = store_overlap[cname].f, store_overlap[cname].f = FLOAT_FLAG;
				}else
				{
					thrust::device_vector<int> &data = col.i;
					typedef thrust::device_vector<int>::iterator Iterator;
					strided_range<Iterator> it(data.begin(),data.end(),K);
					thrust::transform(it.begin(),it.end(),sums.begin(),it.begin(),[=] __device__ __host__ (int &a,int &b){return (b == 0) ? INT_FLAG : a;});
					if(sums[0]==0)
		 				col.i[0] = store_overlap[cname].i, store_overlap[cname].i = INT_FLAG;
				}
			}
			
		
		}
		
		{
			//right outer join
			int N = t3.row_count;
			int K = t4.row_count;
			thrust::device_vector<int> sums(K,0);

			if(cond.type)
			{
				thrust::device_vector<float> &data = cond.f;
				assert(data.size() == N*K);
				thrust::device_vector<float> output(data.size());
				thrust::transform(data.begin(),data.end(),data.begin(),thrust::placeholders::_1 != 0);
				thrust::gather(thrust::make_transform_iterator(thrust::counting_iterator<int>(0), functor2(N,K)), thrust::make_transform_iterator(thrust::counting_iterator<int>(N*K), functor2(N,K)), data.begin(), output.begin());
				thrust::reduce_by_key(thrust::device, thrust::make_transform_iterator(thrust::counting_iterator<int>(0), functor1(N)), thrust::make_transform_iterator(thrust::counting_iterator<int>(N*K), functor1(N)), output.begin(), thrust::discard_iterator<int>(), sums.begin());
				
				thrust::transform(data.begin(),data.begin() + K,sums.begin(),data.begin(),[=] __device__ __host__ (float &a,int &b){return (b == 0) ? 1 : a;});
			} else 
			{
				thrust::device_vector<int> &data = cond.i;
				assert(data.size() == N*K);
				thrust::device_vector<int> output(data.size());
				thrust::transform(data.begin(),data.end(),data.begin(),thrust::placeholders::_1 != 0);
				thrust::gather(thrust::make_transform_iterator(thrust::counting_iterator<int>(0), functor2(N,K)), thrust::make_transform_iterator(thrust::counting_iterator<int>(N*K), functor2(N,K)), data.begin(), output.begin());
				thrust::reduce_by_key(thrust::device, thrust::make_transform_iterator(thrust::counting_iterator<int>(0), functor1(N)), thrust::make_transform_iterator(thrust::counting_iterator<int>(N*K), functor1(N)), output.begin(), thrust::discard_iterator<int>(), sums.begin());
				
				thrust::transform(data.begin(),data.begin() + K,sums.begin(),data.begin(),[=] __device__ __host__ (int &a,int &b){return (b == 0) ? 1 : a;});
			}
			for(auto cname:t3.columnNames)
			{
				if(t1.columnNames.find(cname) == t1.columnNames.end())
					cname = t3.get_column(cname).tname + "." + cname;
				column &col = t1.get_column(cname);
				if(col.type)
				{
					thrust::device_vector<float> &data = col.f;
					thrust::transform(data.begin(),data.begin() + K,sums.begin(),data.begin(),[=] __device__ __host__ (float &a,int &b){return (b == 0) ? FLOAT_FLAG : a;});
				}else
				{
					thrust::device_vector<int> &data = col.i;
					thrust::transform(data.begin(),data.begin() + K,sums.begin(),data.begin(),[=] __device__ __host__ (int &a,int &b){return (b == 0) ? INT_FLAG : a;});
				}
			}
			
			
		}
		if(store_overlap.size())
		{
			for(auto &p:store_overlap)
			{
				column &col = t1.get_column(p.first);
				if(col.type)
					col.f.push_back(p.second.f);
				else
					col.i.push_back(p.second.i);
			}
			t1.row_count += 1;
			t2.row_count += 1;
	 		if(cond.type)
				cond.f.push_back(1);
			else
				cond.i.push_back(1);
		}
		apply_result(t1,t2);

	}
	
}

void aggregate_function(table &t1, std::string agfunc, std::string new_name)
{
	if(t1.size() != 1)
		yyerror("aggregate function called on a table not column");
	column &opcol = t1.get_first_column();
	column &newcol = *(new column);
	if(opcol.type)
	{
	 	if( agfunc == "SUM")
		{
			float init = 0.0; 
			float sum = thrust::reduce(opcol.f.begin(), opcol.f.end(), init, thrust::plus<float>());
			opcol.f.clear();
			newcol.type = 1;
			newcol.f.push_back(sum);
		}
		else if(agfunc == "AVG")
		{
			float init = 0.0; 
			float sum = thrust::reduce(opcol.f.begin(), opcol.f.end(), init, thrust::plus<float>());
			float fsize = (float)opcol.f.size();
			opcol.f.clear();
			newcol.type = 1;
			newcol.f.push_back(sum/fsize);
		 }
		else if(agfunc == "COUNT")
		{
			int fcount = opcol.f.size(); 
			opcol.f.clear();
			newcol.type= 0;
			newcol.i.push_back(fcount);
		}else if(agfunc == "MAX")
		{
			float max = *thrust::max_element(opcol.f.begin(),opcol.f.end()); 
			opcol.f.clear();
			newcol.type= 1;
			newcol.f.push_back(max);
		}else if(agfunc == "MIN")
		{
			thrust::sort(opcol.f.begin(),opcol.f.end());
			thrust::device_vector<float>::iterator it;
			it = thrust::upper_bound(opcol.f.begin(),opcol.f.end(),FLOAT_FLAG);
			float min = FLOAT_FLAG;
			if(it != opcol.f.end())
				min = *it;
			opcol.f.clear();
			newcol.type= 1;
			newcol.f.push_back(min);
		}
		else
			yyerror(agfunc + " : No such aggregate function");
	}
	else
	{
	 	if( agfunc == "SUM")
		{
			int init = 0; 
			int sum = thrust::reduce(opcol.i.begin(), opcol.i.end(), init, thrust::plus<int>());
			opcol.i.clear();
			newcol.type = 0;
			newcol.i.push_back(sum);
		}
		else if(agfunc == "AVG")
		{
			int init = 0; 
			int sum = thrust::reduce(opcol.i.begin(), opcol.i.end(), init, thrust::plus<int>());
			float isize = (float)opcol.i.size();
			opcol.i.clear();
			newcol.type = 1;
			newcol.f.push_back(sum/isize);
		}
		else if(agfunc == "COUNT")
		{
			int icount = opcol.i.size(); 
			opcol.i.clear();
			newcol.type = 0;
			newcol.i.push_back(icount);
		}else if(agfunc == "MAX")
		{
			int max = *thrust::max_element(opcol.i.begin(),opcol.i.end()); 
			opcol.i.clear();
			newcol.type= 0;
			newcol.i.push_back(max);
		}else if(agfunc == "MIN")
		{
			thrust::sort(opcol.i.begin(),opcol.i.end());
			thrust::device_vector<int>::iterator it;
			it = thrust::upper_bound(opcol.i.begin(),opcol.i.end(),INT_FLAG);
			int min = INT_FLAG;
			if(it != opcol.i.end())
				min = *it;
			opcol.i.clear();
			newcol.type= 0;
			newcol.i.push_back(min);
		}
		else
			yyerror(agfunc + " : No such aggregate function");
	}
	
	t1.erase_column(t1.get_first_column_name());
	t1.row_count = 1;
	t1.copy_column(new_name,newcol);
}

void make_sorted(table &t2, std::string col_order, bool col_present, bool is_desc)
{
	column &order_on1 = t2.get_column(col_order);
	thrust::device_vector<int> new_order(t2.row_count);
	thrust::sequence(new_order.begin(),new_order.end(),0);
	if(order_on1.type)
	{
		if(is_desc)
			thrust::sort_by_key(order_on1.f.begin(),order_on1.f.end(),new_order.begin(),thrust::greater<float>());
		else
			thrust::sort_by_key(order_on1.f.begin(),order_on1.f.end(),new_order.begin());
	}
	else
	{
		if(is_desc)
			thrust::sort_by_key(order_on1.i.begin(),order_on1.i.end(),new_order.begin(),thrust::greater<int>());
		else
			thrust::sort_by_key(order_on1.i.begin(),order_on1.i.end(),new_order.begin());
	}
	
	auto iter_col = t2.columnNames.begin();
	thrust::device_vector<int> temp_i(t2.row_count);
	thrust::device_vector<float> temp_f(t2.row_count);

	while(iter_col != t2.columnNames.end())
	{
		if(*iter_col != col_order)
		{
			column &temp_col = t2.get_column(*iter_col);
			if(temp_col.type)
			{
				thrust::gather(new_order.begin(), new_order.end(), temp_col.f.begin(), temp_f.begin());
				temp_col.f = temp_f;
			}
			else
			{
				thrust::gather(new_order.begin(), new_order.end(), temp_col.i.begin(), temp_i.begin());
				temp_col.i = temp_i;
			}
		}
		iter_col++;
	}
	if(!col_present)
		t2.erase_column(col_order);
}
/*
void validate_columns(table &t3)
{
	assert(t3.size() == t3.columnNames.size());
	for(auto c:t3.columnNames)
	{
		column &col = t3.get_column(c);
		if(col.type)
		{
			if(col.f.size() != t3.row_count)
				if(col.f.size() == 1)
					col.f.resize(t3.row_count,col.f[0]);
				else
					yyerror("Invalid Column elements.");
		}else
		{
			if(col.i.size() != t3.row_count)
				if(col.i.size() == 1)
					col.i.resize(t3.row_count,col.i[0]);
				else
					yyerror("Invalid Column elements.");
		}
	}
}

bool check_keys(table &t)
{
	if(t.size() != 1)
		yyerror("Invalid keys.");
	column &col = t.get_first_column();
	int count = t.row_count;
	if(col.type)
		count -= thrust::count_if(col.f.begin(),col.f.end(),thrust::logical_not<float>());
	else	
		count -= thrust::count_if(col.i.begin(),col.i.end(),thrust::logical_not<int>());
	return (count != 0);
}
*/
table &eval(node *root,table &t)
{
	std::string &name = *(root->name);
	std::string &id = *(root->id);
	if(id == "cmd")
	{
		if(root->size == 1)
		{
			std::cout<<std::endl<<"Logging Out.\n"<<std::endl;
			exit(0);
		}else if(root->size == 2)
		{
			dbpath = *root->child[1]->name;
			if(dbpath == "")
				dbpath = "./";
			std::string cmd = "mkdir -p " + dbpath + "tmp/";
			int i = system(cmd.c_str());
			if(i != 0)
	 		{
				std::cout<<"Unable to create space for temporary table."<<std::endl;
				exit(0);
			}
			cmd = "rm -rf " + dbpath + "tmp/*";
			i = system(cmd.c_str());
			if(i != 0)
	 		{
				std::cout<<"Unable to clear the space for temporary table."<<std::endl;
				exit(0);
			}
			yyerror("Database changed");
		}
		table &t1 = eval(root->child[3],t);
		if(t1.row_count == 0)
			return t1;
		if(root->size > 6)
		{
			table &t2 = eval(root->child[5],t1);
			t1.updatekey(t2);
			if(t1.row_count == 0)
				return t1;
			
			table &t3 = eval(root->child[1],t1);
			
			std::string col_order = t3.get_column_name(*(root->child[7]->child[0]->name));
			bool col_present = true;
			if(t3.columnNames.find(col_order) == t3.columnNames.end())
			{
				table &t4 = eval(root->child[7]->child[0],t1);
				column &order_on = t4.get_first_column();
				t3.copy_column(col_order, order_on);
				col_present = false;
			}
			
			bool is_desc = false;
			if(root->child[7]->child[1])
			{				if(*(root->child[7]->child[1]->name) == "DESC")

		 			is_desc = true;		
			}
			make_sorted(t3,col_order,col_present,is_desc);
			return t3;	
		}
		else if(root->size == 6)
		{
			if(*(root->child[4]->id) == "ORDER_BY")
			{
				table &t2 = eval(root->child[1],t1);
				//validate_columns(t2);
				std::string col_order = t2.get_column_name(*(root->child[5]->child[0]->name));
				bool col_present = true;
				if(t2.columnNames.find(col_order) == t2.columnNames.end())
				{
					table &t3 = eval(root->child[5]->child[0],t1);
					column &order_on = t3.get_first_column();
					t2.copy_column(col_order, order_on);
					col_present = false;
				}
				bool is_desc = false;
				if(root->child[5]->child[1])
				{
					if(*(root->child[5]->child[1]->name) == "DESC")
		 				is_desc = true;		
				}
				make_sorted(t2,col_order,col_present,is_desc);
				return t2;	 	
			}
			else
			{
				table &t2 = eval(root->child[5],t1);
				t1.updatekey(t2);
				if(t1.row_count == 0)
					return t1;
				table &t3 = eval(root->child[1],t1);
				//validate_columns(t3);
				
				//use t2 as key to select rows from table t3

				//apply_result(t3,t2);
				return t3;
			}
		}else
		{
			table &t2 = eval(root->child[1],t1);
			return t2;
		}
	}else if(id == "columns")
	{
		if(root->size == 1)
		{
			table &t1 = eval(root->child[0],t);
			return t1;
		}
		table &t1 = eval(root->child[0],t);
		table &t2 = eval(root->child[2],t);
		if(t1.row_count != t2.row_count)
			yyerror("Aggregated column with nonaggregated colmns. (different number of rows)");
		t1.copy_column(*(root->child[2]->name),t2.get_column(*(root->child[2]->name)));
		
		return t1;
	}else if(id == "column")
	{
		if(*(root->child[0]->name) == "*")
		{
			for(auto col:t.columnNames)
				t.get_column(col);
			return t;
		}
		table &t1 = eval(root->child[0],t);
		if(root->size > 1)
			t1.move_column(*(root->child[0]->name),*(root->child[2]->name));
		return t1;
	}else if(id == "expr")
	{
		if(root->size == 3)
		{
			table &t1 = eval(root->child[0],t);
			table &t2 = eval(root->child[2],t);

			binary_op(t1,t2,*(root->child[1]->id));
			t1.move_column(t1.get_first_column_name(),name);
			return t1;	
		}else if(root->size == 2)
		{
			table &t1 = eval(root->child[1],t);
			unary_op(t1,*(root->child[1]->id));
			t1.move_column(t1.get_first_column_name(),name);
			return t1;
		}else
		{	
			return eval(root->child[0],t);
		}

	}else if(id == "Pexpr")
	{
		if(*(root->child[0]->id) == "aggregate")
		{	
			std::string agfunc = *(root->child[0]->name);
			std::string fname = *(root->name);
			if(root->size == 6)
			{
				if(t.name == *(root->child[2]->name))
				{
					table &t1	= *(new table);
					t1.name = t.name;
					t1.set_column(*(root->child[4]->name),t.get_column(*(root->child[4]->name)));
					aggregate_function(t1,agfunc,fname);
					return t1;
				}else 
				{
					if(t.columnNames.find(name) == t.columnNames.end())
					{
						yyerror(name + ": No such column in " + t.name);
					}else
					{
						table &t1 = *(new table);
						t1.name = t.name;
						t1.set_column(name,t.get_column(name));
						aggregate_function(t1,agfunc,fname);
						return t1;
					}
				}
			}else
			{
				if(*(root->child[2]->id) == "cmd")
				{
					table &t1 = eval(root->child[2],t);
					if(t1.size() == 1)
					{
						std::string cname = t1.get_first_column_name();
						t1.move_column(cname,*root->name);
						aggregate_function(t1,agfunc,fname);
					}
					else
						yyerror("subquery has more than one column");
					return t1;
				}else if(*(root->child[2]->id) == "expr")
				{
					table &t1 = eval(root->child[2],t);
					if(t1.size() == 1)
					{
						std::string cname = t1.get_first_column_name();
						t1.move_column(cname,*root->name);
						aggregate_function(t1,agfunc,fname);
					}
					else
						yyerror("subquery has more than one column");
					return t1;
				}
				else
				{
					if(t.columnNames.find(*(root->child[2]->name)) == t.columnNames.end())
					{
						yyerror("aggregate called on table");
					}else
					{
						table &t1 = *(new table);
						t1.name = t.name;
						t1.set_column(*(root->child[2]->name),t.get_column(*(root->child[2]->name)));
						aggregate_function(t1,agfunc,fname);
						return t1;
					}
				}
			}
		}
		else
		{	
			if(root->size == 3)
			{
				if(*(root->child[1]->id) == ".")
				{
					if(t.name == *(root->child[0]->name))
					{
						table &t1 = *(new table);
						t1.name = t.name;
						t1.set_column(*(root->child[2]->name),t.get_column(*(root->child[2]->name)));
						return t1;
					}else 
					{
						if(t.columnNames.find(name) == t.columnNames.end())
						{
							yyerror(name + ": No such column in " + t.name);
						}else
						{
							table &t1 = *(new table);
							t1.name = t.name;
							t1.set_column(name,t.get_column(name));
							return t1;
						}
					}
				}else
				{
					table &t1 = eval(root->child[1],t);
					t1.move_column(t1.get_first_column_name(),name);
					return t1;
				}
			}else
			{
				if(*(root->child[0]->id) == "integerLit")
				{
					table &t1 = *(new table);
					column col;
					col.type = 0;
					col.i.push_back(atoi(root->child[0]->name->c_str()));
					t1.set_column(*(root->child[0]->name),col);
					return t1;
				}else if(*(root->child[0]->id) == "floatLit")
				{
					table &t1 = *(new table);
					column col;
					col.type = 1;
					col.f.push_back(atof(root->child[0]->name->c_str()));
					t1.set_column(*(root->child[0]->name),col);
					return t1;
				}else
				{
					if(t.columnNames.find(*(root->child[0]->name)) == t.columnNames.end())
					{
						yyerror(*(root->child[0]->name) + " : No such column ");
					}else
					{
						table &t1 = *(new table);
						t1.name = t.name;
						t1.set_column(*(root->child[0]->name),t.get_column(*(root->child[0]->name)));
						return t1;
					}
				}
			}
		}
	}else if(id == "tables")
	{
		if(root->size == 5)
		{
			table &t1 = eval(root->child[0],t);
			table &t2 = eval(root->child[2],t1);
			
			table &t3 = eval(root->child[1],t);
			table &t4 = cross_prod(t1,t2);
			table &t5 = eval(root->child[4],t4);
			eval_join(t4,t5,t1,t2,t3);
			t4.name = name;
			return t4;
		}else if(root->size == 3)
		{
			table &t1 = eval(root->child[0],t);
			table &t2 = eval(root->child[2],t);
			
			table &t3 = eval(root->child[1],t);
			table &t4 = cross_prod(t1,t2);
			t4.name = name;
			return t4;
		}else
		{
			return eval(root->child[0],t);
		}
	}else if(id == "table")
	{
		if(root->size > 3)
		{
			table &t1 = eval(root->child[1],t);
			t1.name = *(root->child[4]->name);
			for(auto cname:t1.columnNames)
	 		{
				column &col = t1.get_column(cname);
				col.tname = t1.name;
			}
			return t1;
		}else if(root->size > 1)
		{
			table &t1 = *(new table(*(root->child[0]->name)));
			t1.name = *(root->child[2]->name);
			return t1;
		}else 
		{
			table &t1 = *(new table(name));
			return t1;
		}
	}else if(id == "join")
	{
		table &t1 = *(new table);
		if(*root->child[0]->id == ",")
		{
			column &col = t1.new_column(",");
			col.type = 0;
			col.i.push_back(1);
			t1.row_count = 1;
		}else if(*root->child[0]->id == "INNER JOIN")
		{
			column &col = t1.new_column("INNER JOIN");
			col.type = 0;
			col.i.push_back(2);
			t1.row_count = 1;
		}else if(*root->child[0]->id == "LEFT OUTER JOIN")
		{
			column &col = t1.new_column("LEFT OUTER JOIN");
			col.type = 0;
			col.i.push_back(3);
			t1.row_count = 1;
		}else if(*root->child[0]->id == "RIGHT OUTER JOIN")
		{
			column &col = t1.new_column("RIGHT OUTER JOIN");
			col.type = 0;
			col.i.push_back(4);
			t1.row_count = 1;
		}else if(*root->child[0]->id == "FULL OUTER JOIN")
		{
			column &col = t1.new_column("FULL OUTER JOIN");
			col.type = 0;
			col.i.push_back(5);
			t1.row_count = 1;
		}else
		{
			column &col = t1.new_column("ERROR TYPE");
			col.type = 0;
			col.i.push_back(0);
			t1.row_count = 1;
		}
		return t1;
	}
	return t;
}

Overwriting function.cu

In [336]:
%%writefile yacc.y
%start program

%token SELECT FROM WHERE AS ON EXIT INNER OUTER LEFT RIGHT FULL JOIN SUM COUNT AVG ORDER_BY ASC DESC MAX MIN USE LIMIT
%token OR EQ NEQ LEQ GEQ AND
%token FLOAT_LITERAL INTEGER_LITERAL IDENTIFIER


%{
	#include "header.h"
%}


%%
program:
	cmd limit ';'
	{
		table t;
		if($2->size == 0)
			eval($1,t).print();
		else
			eval($1,t).print(atoi($2->child[1]->name->c_str()));
	};

limit:
	LIMIT INTEGER_LITERAL
	{
		$1 = makenode("LIMIT","LIMIT");
		$2 = makenode(std::string(yytext),std::string(yytext));
		$$ = makenode("limit",*$1->name + " " + *$2->name,$1,$2);
	}
|	%empty
	{
		$$ = makenode("limit","limit");
	};
cmd:
	SELECT columns FROM tables WHERE expr ORDER_BY sort_info
	{
		$1 = makenode("SELECT","SELECT");
		$3 = makenode("FROM","FROM");
		$5 = makenode("WHERE","WHERE");
		$7 = makenode("ORDER_BY","ORDER_BY");
		std::string name = *($1->name) + " " + *($2->name) + " " + *($3->name) + " " + *($4->name) + " " + *($5->name) + " " + *($6->name) + " " + *($7->name) + " "+ *($8->name);
		$$ = makenode("cmd",name,$1,$2,$3,$4,$5,$6,$7,$8);
	}
|	SELECT columns FROM tables WHERE expr 
	{
		$1 = makenode("SELECT","SELECT");
		$3 = makenode("FROM","FROM");
		$5 = makenode("WHERE","WHERE");
		std::string name = *($1->name) + " " + *($2->name) + " " + *($3->name) + " " + *($4->name) + " " + *($5->name) + " " + *($6->name);
		$$ = makenode("cmd",name,$1,$2,$3,$4,$5,$6);
	}
|	SELECT columns FROM tables ORDER_BY sort_info
	{
		$1 = makenode("SELECT","SELECT");
		$3 = makenode("FROM","FROM");
		$5 = makenode("ORDER_BY","ORDER_BY");
		std::string name = *($1->name) + " " + *($2->name) + " " + *($3->name) + " " + *($4->name) + " " + *($5->name) + " " + *($6->name) ;
		$$ = makenode("cmd",name,$1,$2,$3,$4,$5,$6);
	}
|	SELECT columns FROM tables
	{
		$1 = makenode("SELECT","SELECT");
		$3 = makenode("FROM","FROM");
		std::string name = *($1->name) + " " + *($2->name) + " " + *($3->name) + " " + *($4->name);
		$$ = makenode("cmd",name,$1,$2,$3,$4);
	}
|	USE database
	{
		$1 = makenode("USE","USE");
		std::string name = *($1->name) + " " + *($2->name);
		$$ = makenode("cmd",name,$1,$2);
	}	
|	EXIT
	{
		$1 = makenode("EXIT","EXIT");
		$$ = makenode("cmd",*($1->name),$1);
	};

database:
	database identifier '/'
	{
		$3 = makenode("/","/");
		std::string name = *($1->name)+ *($2->name) + *($3->name);
		$$ = makenode("database",name,$1,$2,$3);
	}
|	%empty
	{
		$$ = makenode("database","");
	};

sort_info:
	column ASC
	{
		$2 = makenode("ASC","ASC");
		$$ = makenode("sort_info",*($1->name) + " ASC",$1,$2);
	}
|	column DESC
	{
		$2 = makenode("DESC","DESC");
		$$ = makenode("sort_info",*($1->name) + " DESC",$1,$2);		
	}
|	column
	{
		$$ = makenode("sort_info",*($1->name),$1);
	};

columns: 
	column
	{
		$$ = makenode("columns",*($1->name),$1);
	}
|	columns ',' column
	{
		$2 = makenode(",",",");
		std::string name = *($1->name) + " " + *($2->name) + " " + *($3->name);
		$$ = makenode("columns",name,$1,$2,$3);
	};

column:
	Pexpr	AS	identifier
	{
		$2 = makenode("AS","AS");
		std::string name = *($3->name);
		$$ = makenode("column",name,$1,$2,$3);
	}
|	Pexpr
	{
		$$ = makenode("column",*($1->name),$1);
	}
|	'*'
	{
		$1 = makenode("*","*");
		$$ = makenode("column",*($1->name),$1);
	};	
	
expr:
	Pexpr OR Pexpr
	{
		$2 = makenode("OR","OR");
		std::string name = *($1->name) + " " + *($2->name) + " " + *($3->name);
		$$ = makenode("expr",name,$1,$2,$3);
	}
|	Pexpr EQ Pexpr
	{
		$2 = makenode("EQ","EQ");
		std::string name = *($1->name) + " " + *($2->name) + " " + *($3->name);
		$$ = makenode("expr",name,$1,$2,$3);
	}
|	Pexpr NEQ Pexpr
	{
		$2 = makenode("NEQ","NEQ");
		std::string name = *($1->name) + " " + *($2->name) + " " + *($3->name);
		$$ = makenode("expr",name,$1,$2,$3);
	}
|	Pexpr LEQ Pexpr
	{
		$2 = makenode("LEQ","LEQ");
		std::string name = *($1->name) + " " + *($2->name) + " " + *($3->name);
		$$ = makenode("expr",name,$1,$2,$3);
	}
|	Pexpr '<' Pexpr
	{
		$2 = makenode("<","<");
		std::string name = *($1->name) + " " + *($2->name) + " " + *($3->name);
		$$ = makenode("expr",name,$1,$2,$3);
	}
|	Pexpr GEQ Pexpr
	{
		$2 = makenode("GEQ","GEQ");
		std::string name = *($1->name) + " " + *($2->name) + " " + *($3->name);
		$$ = makenode("expr",name,$1,$2,$3);
	}
|	Pexpr '>' Pexpr
	{
		$2 = makenode(">",">");
		std::string name = *($1->name) + " " + *($2->name) + " " + *($3->name);
		$$ = makenode("expr",name,$1,$2,$3);
	}
|	Pexpr AND Pexpr
	{
		$2 = makenode("AND","AND");
		std::string name = *($1->name) + " " + *($2->name) + " " + *($3->name);
		$$ = makenode("expr",name,$1,$2,$3);
	}
|	Pexpr '+' Pexpr
	{
		$2 = makenode("+","+");
		std::string name = *($1->name) + " " + *($2->name) + " " + *($3->name);
		$$ = makenode("expr",name,$1,$2,$3);
	}
|	Pexpr '-' Pexpr
	{
		$2 = makenode("-","-");
		std::string name = *($1->name) + " " + *($2->name) + " " + *($3->name);
		$$ = makenode("expr",name,$1,$2,$3);
	}
|	Pexpr '*' Pexpr
	{
		$2 = makenode("*","*");
		std::string name = *($1->name) + " " + *($2->name) + " " + *($3->name);
		$$ = makenode("expr",name,$1,$2,$3);
	}
|	Pexpr '/' Pexpr
	{
		$2 = makenode("/","/");
		std::string name = *($1->name) + " " + *($2->name) + " " + *($3->name);
		$$ = makenode("expr",name,$1,$2,$3);
	}
|	Pexpr '%' Pexpr
	{
		$2 = makenode("%","%");
		std::string name = *($1->name) + " " + *($2->name) + " " + *($3->name);
		$$ = makenode("expr",name,$1,$2,$3);
	}
|	'!' Pexpr
	{
		$1 = makenode("!","!");
		std::string name = *($1->name) + " " + *($2->name);
		$$ = makenode("expr",name,$1,$2);
	}
|	'-' Pexpr
	{
		$1 = makenode("!","!");
		std::string name = *($1->name) + " " + *($2->name);
		$$ = makenode("expr",name,$1,$2);
	}
|	'+' Pexpr
	{
		$1 = makenode("!","!");
		std::string name = *($1->name) + " " + *($2->name);
		$$ = makenode("expr",name,$1,$2);
	}
|	'*' Pexpr
	{
		$1 = makenode("!","!");
		std::string name = *($1->name) + " " + *($2->name);
		$$ = makenode("expr",name,$1,$2);
	}
|	Pexpr
	{
		$$ = makenode("expr",*($1->name),$1);
	};

Pexpr:
	integerLit
	{
		$$ = makenode("Pexpr",*($1->name),$1);
	}
|	floatLit
	{
		$$ = makenode("Pexpr",*($1->name),$1);
	}
|	identifier '.' identifier
	{
		$2 = makenode(".",".");
		std::string name = *($1->name) + *($2->name) + *($3->name);
		$$ = makenode("Pexpr",name,$1,$2,$3);
	}
|	identifier
	{
		$$ = makenode("Pexpr",*($1->name),$1);
	}
|	'(' expr ')'
	{
		$1 = makenode("(","(");
		$3 = makenode(")",")");
		std::string name = *($1->name) + " " + *($2->name) + " " + *($3->name);
		$$ = makenode("Pexpr",name,$1,$2,$3);
	}
|	'(' cmd ')'
	{
		$1 = makenode("(","(");
		$3 = makenode(")",")");
		std::string name = *($1->name) + " " + *($2->name) + " " + *($3->name);
		$$ = makenode("Pexpr",name,$1,$2,$3);
	}
|	aggregate '(' expr ')'
	{
		$2 = makenode("(","(");
		$4 = makenode(")",")");
		std::string name = *($1->name) + *($2->name) + " " + *($3->name) + " " + *($4->name);
		$$ = makenode("Pexpr",name,$1,$2,$3,$4);
	}
|	aggregate '(' cmd ')'
	{
		$2 = makenode("(","(");
		$4 = makenode(")",")");
		std::string name = *($1->name) + *($2->name) + " " + *($3->name) + " " + *($4->name);
		$$ = makenode("Pexpr",name,$1,$2,$3,$4);
	};

aggregate: 
	SUM
	{
		$1 = makenode("SUM","SUM");
		$$ = makenode("aggregate","SUM",$1);
	}
|	AVG
	{
		$1 = makenode("AVG","AVG");
		$$ = makenode("aggregate","AVG",$1);
	}
|	COUNT
	{
		$1 = makenode("COUNT","COUNT");
		$$ = makenode("aggregate","COUNT",$1);
	}
|	MAX
	{
		$1 = makenode("MAX","MAX");
		$$ = makenode("aggregate","MAX",$1);
	}
|	MIN
	{
		$1 = makenode("MIN","MIN");
		$$ = makenode("aggregate","MIN",$1);
	};

integerLit:
	INTEGER_LITERAL
	{
		$1 = makenode(std::string(yytext),std::string(yytext));
		$$ = makenode("integerLit",*($1->name),$1);
	};

floatLit:
	FLOAT_LITERAL
	{
		$1 = makenode(std::string(yytext),std::string(yytext));
		$$ = makenode("floatLit",*($1->name),$1);
	};

identifier:
	IDENTIFIER
	{
		$1 = makenode(std::string(yytext),std::string(yytext));
		$$ = makenode("identifier",*($1->name),$1);
	};

table: 
	identifier AS identifier
	{
		$2 = makenode("AS","AS");
		std::string name = *($1->name) + " " + *($2->name) + " " + *($3->name);
		$$ = makenode("table",name,$1,$2,$3);
	}
|	identifier 
	{
		$$ = makenode("table",*($1->name),$1);
	}
|	'(' cmd ')' AS identifier
	{
		$1 = makenode("(","(");
		$3 = makenode(")",")");
		$4 = makenode("AS","AS");
		std::string name = *($5->name);
		$$ = makenode("table",name,$1,$2,$3,$4,$5);
	};

tables:
	tables join table ON expr
	{
		$4 = makenode("ON","ON");
		std::string name = *($1->name) + " " + *($2->name) + " " + *($3->name) + " " + *($4->name) + " " + *($5->name);
		$$ = makenode("tables",name,$1,$2,$3,$4,$5);
	}
|	tables join table
	{
		std::string name = *($1->name) + " " + *($2->name) + " " + *($3->name);
		$$ = makenode("tables",name,$1,$2,$3);
	}
|	table
	{
		$$ = makenode("tables",*($1->name),$1);
	};

join:
	JOIN
	{
		$1 = makenode("INNER JOIN","INNER JOIN");
		$$ = makenode("join",*($1->name),$1);
	}
|	INNER JOIN
	{
		$1 = makenode("INNER JOIN","INNER JOIN");
		$$ = makenode("join",*($1->name),$1);
	}
|	LEFT outer JOIN
	{
		$1 = makenode("LEFT OUTER JOIN","LEFT OUTER JOIN");
		$$ = makenode("join",*($1->name),$1);
	}
|	RIGHT outer JOIN
	{
		$1 = makenode("RIGHT OUTER JOIN","RIGHT OUTER JOIN");
		$$ = makenode("join",*($1->name),$1);
	}
|	FULL outer JOIN
	{
		$1 = makenode("FULL OUTER JOIN","FULL OUTER JOIN");
		$$ = makenode("join",*($1->name),$1);
	}
|	','
	{
		$1 = makenode(",",",");
		$$ = makenode("join",*($1->name),$1);
	};

outer:
	%empty
	{
		
	}
|	OUTER
	{
			
	}
%%

Overwriting yacc.y

In [345]:
%%writefile main.cu
#include "yacc.cu"
#include "lex.cu"

int main()
{
	dbpath = "";
	tmp_table = 0; //assuming tmp table path is dbpath + "/tmp/table_" + tmp_table;
	print_tables = true;
	tmp_table_limit = 100;
	do 
	{
		setjmp(env_buffer);
		char *line = NULL;
		size_t len = 0;
		std::cout<<"Enter Query : ";
		getline(&line, &len, stdin);
		YY_BUFFER_STATE buffer = yy_scan_string(line);
		yy_switch_to_buffer(buffer);
		cudaEventCreate(&start); 
		cudaEventCreate(&stop);
		cudaEventRecord(start);
		yyparse();
		yy_delete_buffer(buffer);
	} while (!feof(stdin));
	
	return 0;
}

Overwriting main.cu

In [356]:
%%writefile Makefile
all: lex yacc main.cu source.cu function.cu
	nvcc --expt-extended-lambda main.cu source.cu function.cu

lex: yacc lex.l
	lex -o lex.cu lex.l

yacc: header.h template.h table.h yacc.y
	yacc -d -o yacc.cu yacc.y

submit: clean
	mkdir -p CS16B032_CS16B047
	cp ./* CS16B032_CS16B047/
	tar -czf  CS16B032_CS16B047.tgz CS16B032_CS16B047/*
	rm -rf CS16B032_CS16B047

clean:
	rm -rf *tgz
	rm -rf CS16B032_CS16B047/*

git-login:
	git clone https://$(Username):$(Password)@github.com/trrishabh/GPU_Database.git

git-commit:
	git branch
	git checkout master
	git add .
	git config --global user.email "adarshsinghiitm@gmail.com"
	git config --global user.name "adarsh1783"
	git commit -m 'asasaas'

git-push:
	git push origin master

Overwriting Makefile

In [347]:
!make

yacc -d -o yacc.cu yacc.y
lex -o lex.cu lex.l
nvcc --expt-extended-lambda main.cu source.cu function.cu

In [357]:
!make submit

rm -rf *tgz
rm -rf CS16B032_CS16B047/*
mkdir -p CS16B032_CS16B047
cp ./* CS16B032_CS16B047/
cp: -r not specified; omitting directory './CS16B032_CS16B047'
cp: -r not specified; omitting directory './GPU_Database'
cp: -r not specified; omitting directory './sample_data'
cp: -r not specified; omitting directory './src'
cp: -r not specified; omitting directory './tmp'
Makefile:11: recipe for target 'submit' failed
make: *** [submit] Error 1

In [0]:
!python3 /content/GPU_Database/gen_dataset.py 400

In [343]:
!./a.out < /content/GPU_Database/large_query

Enter Query : use;


Database changed

Enter Query : select account_id, statement_freq from account where (account_id > 1000) and (statement_freq == 1);


Empty set in 0.00175843 seconds.

Enter Query : select date as yymmdd from account;


400 rows in 0.000296512 seconds.

Enter Query : select avg(account_district_id) from account;


1 rows in 0.000446624 seconds.

Enter Query : select account_id,account_district_id, ratio_urban from account join district on account_district_id == district_id;


384 rows in 1.54382 seconds.

Enter Query : select account_id, statement_freq from account where (account_id > 1000) or (statement_freq == 1);


Empty set in 0.00138742 seconds.

Enter Query : select ratio_urban, average_salary, unemp_rate95, unemp_rate96 from district order_by unemp_rate95 desc;


400 rows in 0.00150688 seconds.

Enter Query : select ratio_urban, average_salary, unemp_rate96 from district order_by unemp_rate95 asc;


400 rows in 0.00158691 seconds.

Enter Query : select a.account_id , o.account_id, order_amount from account as a left join order as o on a.account_id == o.account_id;


543 rows in 0.808359 seconds.

Enter Query : select sum(date) as yymmdd from account;


1 rows in 0.00039648 seconds.

Enter Query : select sum(date) from account;


1 rows in 0.000359648 seconds.

Enter Query : select d.account_id, disp_id, o.account_id from disp as d full join order as o on d.account_id == o.account_id;


699 rows in 0.776401 seconds.

Enter Query : select d.account_id, disp_id, o.account_id from disp as d full join order as o on d.account_id == o.account_id order_by d.account_id;


699 rows in 0.786164 seconds.

Enter Query : select disp_id, account_id from disp where (disp_id + account_id) < (avg(disp_id));


54 rows in 0.0013032 seconds.

Enter Query : select disp_id, account_id from disp where (disp_id + account_id) < (count(disp_id)) order_by account_id desc;


192 rows in 0.00135971 seconds.

Enter Query : select (account_id + disp_id) from disp;


400 rows in 0.000500128 seconds.

Enter Query : select (account_id + 100) from disp;


400 rows in 0.000543456 seconds.

Enter Query : select (account_id + disp_id) from disp where (account_id % 5) == 0;


88 rows in 0.00125683 seconds.

Enter Query : select (ratio_urban * 10)from district where ((ratio_urban*10) / 6 ) == 0;


1 rows in 0.00160122 seconds.

Enter Query : select ratio_urban from district where (ratio_urban % 5) == 0;


81 rows in 0.00117482 seconds.

Enter Query : select 2 from loan;


1 rows in 0.000189408 seconds.

Enter Query : select 2.00001 from card;


1 rows in 0.00019456 seconds.

Enter Query : select l.loan_id from loan as l;


400 rows in 0.00022544 seconds.

Enter Query : select l.loan_id as llid from loan as l;


400 rows in 0.000245664 seconds.

Enter Query : select l.loan_id from loan as l order_by l.monthly_loan_payment;


400 rows in 0.000736992 seconds.

Enter Query : select l.loan_id as llid from loan as l order_by l.loan_id;


400 rows in 0.000563072 seconds.

Enter Query : select * from district order_by ratio_urban;


400 rows in 0.00281101 seconds.

Enter Query : select * from district as d order_by d.ratio_urban;


400 rows in 0.00278157 seconds.

Enter Query : select district_id from district where average_salary > (select avg(d.district_id) from district as d);


177 rows in 0.00131133 seconds.

Enter Query : select * from loan where loan_amount > 1000.005;


Empty set in 0.000739808 seconds.

Enter Query : select 2.3 from loan where loan_amount > 5000;


Empty set in 0.000683584 seconds.

Enter Query : select loan_amount as loanm from loan where loan_amount < (select avg(monthly_loan_payment) from loan);


196 rows in 0.00115834 seconds.

Enter Query : select avg(client_id) from client as c join district as d on c.district_id == d.district_id where client_id < 6000;


1 rows in 1.51797 seconds.

Enter Query : select * from disp as d full outer join client as c on c.client_id == d.client_id where disp_id < 500 order_by client_age;


519 rows in 0.604644 seconds.

Enter Query : select avg(disp_id) from disp as d join account as a on d.account_id == a.account_id where  d.account_id < (avg(disp_id/2));


1 rows in 0.688015 seconds.

Enter Query : select min(loan_amount) from (select loan_amount from loan order_by monthly_loan_payment desc) as temp where loan_amount>=2;


1 rows in 0.00160461 seconds.

Enter Query : Select account_id,(account_district_id/12) as m from account;


400 rows in 0.000775616 seconds.

Enter Query : Select * from card where card_id == (select max(card_id) from card);


2 rows in 0.00175373 seconds.

Enter Query : select min(loan_amount) from (select monthly_loan_payment, loan_amount from loan order_by monthly_loan_payment desc) as t;


1 rows in 0.00115853 seconds.

Enter Query : Select * from card where card_id <= (select count(card_id) from card);


400 rows in 0.00176566 seconds.

Enter Query : Select c1.card_id,c2.card_id from card as c1, card as c2 where c1.card_id <= c2.card_id;


80423 rows in 0.502054 seconds.

Enter Query : select * from  disp as d left outer join account as a on a.account_id == d.account_id;


554 rows in 0.596243 seconds.

Enter Query : select * from  disp as d left outer join account as a on a.account_id == d.account_id left outer join client as c on c.client_id == d.client_id;


709 rows in 1.74242 seconds.

Enter Query : select * from  disp as d LEFT OUTER JOIN client as c on c.client_id == d.client_id LEFT OUTER JOIN account as a on a.account_id == d.account_id LEFT OUTER JOIN district as ds on ds.district_id >= disp_id;


135421 rows in 5.39662 seconds.

Enter Query : exit;


Logging Out.

In [348]:
!./a.out

Enter Query : use;

Database changed

Enter Query : select card_id from card;

+-------+
|card_id|
+-------+
|24     |
+-------+
|184    |
+-------+
|167    |
+-------+
|238    |
+-------+
|293    |
+-------+
|356    |
+-------+
|379    |
+-------+
|80     |
+-------+
|321    |
+-------+
|36     |
+-------+
|168    |
+-------+
|222    |
+-------+
|371    |
+-------+
|330    |
+-------+
|398    |
+-------+
|239    |
+-------+
|260    |
+-------+
|273    |
+-------+
|112    |
+-------+
|398    |
+-------+
|317    |
+-------+
|380    |
+-------+
|151    |
+-------+
|206    |
+-------+
|10     |
+-------+
|395    |
+-------+
|373    |
+-------+
|35     |
+-------+
|162    |
+-------+
|362    |
+-------+
|24     |
+-------+
|194    |
+-------+
|186    |
+-------+
|6      |
+-------+
|29     |
+-------+
|332    |
+-------+
|32     |
+-------+
|193    |
+-------+
|390    |
+-------+
|374    |
+-------+
|284    |
+-------+
|398    |
+-------+
|146    |
+-------+
|344    |
+-------+
|255    |
+-------+
|71     |
+-------+
|116    |
+-------+
|245    |
+-------+
|251    |
+-------+
|266    |
+-------+
|288    |
+-------+
|268    |
+-------+
|93     |
+-------+
|120    |
+-------+
|249    |
+-------+
|192    |
+-------+
|278    |
+-------+
|28     |
+-------+
|147    |
+-------+
|74     |
+-------+
|153    |
+-------+
|74     |
+-------+
|322    |
+-------+
|285    |
+-------+
|116    |
+-------+
|28     |
+-------+
|345    |
+-------+
|380    |
+-------+
|219    |
+-------+
|87     |
+-------+
|96     |
+-------+
|292    |
+-------+
|7      |
+-------+
|56     |
+-------+
|31     |
+-------+
|380    |
+-------+
|127    |
+-------+
|105    |
+-------+
|139    |
+-------+
|256    |
+-------+
|322    |
+-------+
|110    |
+-------+
|0      |
+-------+
|167    |
+-------+
|271    |
+-------+
|257    |
+-------+
|9      |
+-------+
|335    |
+-------+
|64     |
+-------+
|196    |
+-------+
|395    |
+-------+
|106    |
+-------+
|121    |
+-------+
|42     |
+-------+
|343    |
+-------+
|123    |
+-------+
|312    |
+-------+
|61     |
+-------+
|292    |
+-------+
|210    |
+-------+
|48     |
+-------+
|331    |
+-------+
|301    |
+-------+
|255    |
+-------+
|207    |
+-------+
|122    |
+-------+
|118    |
+-------+
|137    |
+-------+
|173    |
+-------+
|141    |
+-------+
|359    |
+-------+
|14     |
+-------+
|203    |
+-------+
|15     |
+-------+
|255    |
+-------+
|167    |
+-------+
|82     |
+-------+
|206    |
+-------+
|358    |
+-------+
|67     |
+-------+
|192    |
+-------+
|362    |
+-------+
|337    |
+-------+
|231    |
+-------+
|31     |
+-------+
|272    |
+-------+
|200    |
+-------+
|51     |
+-------+
|179    |
+-------+
|15     |
+-------+
|352    |
+-------+
|338    |
+-------+
|314    |
+-------+
|163    |
+-------+
|184    |
+-------+
|88     |
+-------+
|3      |
+-------+
|147    |
+-------+
|168    |
+-------+
|1      |
+-------+
|334    |
+-------+
|153    |
+-------+
|82     |
+-------+
|71     |
+-------+
|55     |
+-------+
|362    |
+-------+
|317    |
+-------+
|367    |
+-------+
|193    |
+-------+
|103    |
+-------+
|164    |
+-------+
|12     |
+-------+
|147    |
+-------+
|360    |
+-------+
|384    |
+-------+
|265    |
+-------+
|272    |
+-------+
|315    |
+-------+
|366    |
+-------+
|28     |
+-------+
|348    |
+-------+
|183    |
+-------+
|205    |
+-------+
|388    |
+-------+
|399    |
+-------+
|82     |
+-------+
|72     |
+-------+
|3      |
+-------+
|265    |
+-------+
|229    |
+-------+
|56     |
+-------+
|108    |
+-------+
|110    |
+-------+
|252    |
+-------+
|350    |
+-------+
|372    |
+-------+
|65     |
+-------+
|316    |
+-------+
|18     |
+-------+
|0      |
+-------+
|152    |
+-------+
|253    |
+-------+
|396    |
+-------+
|34     |
+-------+
|229    |
+-------+
|179    |
+-------+
|345    |
+-------+
|191    |
+-------+
|199    |
+-------+
|366    |
+-------+
|119    |
+-------+
|57     |
+-------+
|34     |
+-------+
|64     |
+-------+
|277    |
+-------+
|90     |
+-------+
|171    |
+-------+
|373    |
+-------+
|210    |
+-------+
|215    |
+-------+
|392    |
+-------+
|119    |
+-------+
|237    |
+-------+
|179    |
+-------+
|151    |
+-------+
|3      |
+-------+
|202    |
+-------+
|74     |
+-------+
|20     |
+-------+
|47     |
+-------+
|289    |
+-------+
|153    |
+-------+
|390    |
+-------+
|241    |
+-------+
|321    |
+-------+
|145    |
+-------+
|187    |
+-------+
|306    |
+-------+
|262    |
+-------+
|123    |
+-------+
|311    |
+-------+
|286    |
+-------+
|23     |
+-------+
|178    |
+-------+
|369    |
+-------+
|332    |
+-------+
|78     |
+-------+
|351    |
+-------+
|215    |
+-------+
|201    |
+-------+
|319    |
+-------+
|232    |
+-------+
|4      |
+-------+
|290    |
+-------+
|76     |
+-------+
|112    |
+-------+
|118    |
+-------+
|42     |
+-------+
|220    |
+-------+
|373    |
+-------+
|142    |
+-------+
|384    |
+-------+
|279    |
+-------+
|196    |
+-------+
|42     |
+-------+
|131    |
+-------+
|140    |
+-------+
|64     |
+-------+
|169    |
+-------+
|243    |
+-------+
|116    |
+-------+
|265    |
+-------+
|31     |
+-------+
|6      |
+-------+
|124    |
+-------+
|97     |
+-------+
|284    |
+-------+
|82     |
+-------+
|152    |
+-------+
|265    |
+-------+
|35     |
+-------+
|74     |
+-------+
|387    |
+-------+
|10     |
+-------+
|55     |
+-------+
|220    |
+-------+
|255    |
+-------+
|48     |
+-------+
|284    |
+-------+
|290    |
+-------+
|214    |
+-------+
|72     |
+-------+
|280    |
+-------+
|153    |
+-------+
|382    |
+-------+
|309    |
+-------+
|1      |
+-------+
|133    |
+-------+
|141    |
+-------+
|184    |
+-------+
|230    |
+-------+
|268    |
+-------+
|193    |
+-------+
|90     |
+-------+
|197    |
+-------+
|48     |
+-------+
|385    |
+-------+
|364    |
+-------+
|195    |
+-------+
|75     |
+-------+
|154    |
+-------+
|397    |
+-------+
|199    |
+-------+
|162    |
+-------+
|81     |
+-------+
|59     |
+-------+
|166    |
+-------+
|242    |
+-------+
|371    |
+-------+
|181    |
+-------+
|32     |
+-------+
|272    |
+-------+
|163    |
+-------+
|388    |
+-------+
|394    |
+-------+
|334    |
+-------+
|157    |
+-------+
|305    |
+-------+
|126    |
+-------+
|87     |
+-------+
|324    |
+-------+
|111    |
+-------+
|290    |
+-------+
|399    |
+-------+
|36     |
+-------+
|328    |
+-------+
|30     |
+-------+
|285    |
+-------+
|153    |
+-------+
|364    |
+-------+
|398    |
+-------+
|180    |
+-------+
|180    |
+-------+
|263    |
+-------+
|384    |
+-------+
|201    |
+-------+
|87     |
+-------+
|310    |
+-------+
|295    |
+-------+
|239    |
+-------+
|225    |
+-------+
|271    |
+-------+
|336    |
+-------+
|205    |
+-------+
|23     |
+-------+
|140    |
+-------+
|314    |
+-------+
|223    |
+-------+
|362    |
+-------+
|107    |
+-------+
|9      |
+-------+
|362    |
+-------+
|136    |
+-------+
|119    |
+-------+
|16     |
+-------+
|205    |
+-------+
|42     |
+-------+
|204    |
+-------+
|240    |
+-------+
|363    |
+-------+
|271    |
+-------+
|78     |
+-------+
|236    |
+-------+
|65     |
+-------+
|141    |
+-------+
|120    |
+-------+
|182    |
+-------+
|277    |
+-------+
|159    |
+-------+
|77     |
+-------+
|126    |
+-------+
|167    |
+-------+
|25     |
+-------+
|215    |
+-------+
|290    |
+-------+
|74     |
+-------+
|274    |
+-------+
|41     |
+-------+
|195    |
+-------+
|352    |
+-------+
|266    |
+-------+
|226    |
+-------+
|162    |
+-------+
|69     |
+-------+
|40     |
+-------+
|349    |
+-------+
|83     |
+-------+
|253    |
+-------+
|176    |
+-------+
|349    |
+-------+
|360    |
+-------+
|332    |
+-------+
|304    |
+-------+
|398    |
+-------+
|92     |
+-------+
|13     |
+-------+
|189    |
+-------+
|248    |
+-------+
|275    |
+-------+
|179    |
+-------+
|232    |
+-------+
|366    |
+-------+
|379    |
+-------+
|352    |
+-------+
|56     |
+-------+
|166    |
+-------+
|177    |
+-------+
|61     |
+-------+
|113    |
+-------+
|35     |
+-------+
400 rows in 0.00123706 seconds.

Enter Query : select card_id from card limit 10;

+-------+
|card_id|
+-------+
|24     |
+-------+
|184    |
+-------+
|167    |
+-------+
|238    |
+-------+
|293    |
+-------+
|356    |
+-------+
|379    |
+-------+
|80     |
+-------+
|321    |
+-------+
|36     |
+-------+
400 rows in 0.000626848 seconds.

Enter Query : select * from card limit 3;

+-------+-------+----+------+
|disp_id|card_id|type|issued|
+-------+-------+----+------+
|134    |24     |110 |326   |
+-------+-------+----+------+
|78     |184    |121 |5     |
+-------+-------+----+------+
|98     |167    |370 |205   |
+-------+-------+----+------+
400 rows in 0.000793632 seconds.

Enter Query : select card_id from card order_by type limit 3;

+-------+
|card_id|
+-------+
|257    |
+-------+
|31     |
+-------+
|219    |
+-------+
400 rows in 0.00112198 seconds.

Enter Query : select card_id,type from card order_by type limit 3;

+-------+----+
|card_id|type|
+-------+----+
|257    |0   |
+-------+----+
|31     |0   |
+-------+----+
|219    |4   |
+-------+----+
400 rows in 0.00100845 seconds.

Enter Query : exit;

Logging Out.

In [294]:
!./a.out < /content/GPU_Database/large_query

Enter Query :
Database changed

Enter Query :
Empty set in 0.00163731 seconds.

Enter Query :
100 rows in 0.000233888 seconds.

Enter Query :
1 rows in 0.000388192 seconds.

Enter Query :
92 rows in 0.103386 seconds.

Enter Query :
1 rows in 0.00158694 seconds.

Enter Query :
100 rows in 0.00110272 seconds.

Enter Query :
100 rows in 0.00107261 seconds.

Enter Query :
145 rows in 0.0521383 seconds.

Enter Query :
1 rows in 0.000412608 seconds.

Enter Query :
1 rows in 0.000448352 seconds.

Enter Query :
177 rows in 0.0519155 seconds.

Enter Query :
177 rows in 0.053079 seconds.

Enter Query :
17 rows in 0.00124678 seconds.

Enter Query :
47 rows in 0.00134048 seconds.

Enter Query :
100 rows in 0.000522976 seconds.

Enter Query :
100 rows in 0.000459872 seconds.

Enter Query :
26 rows in 0.00122938 seconds.

Enter Query :
3 rows in 0.00166694 seconds.

Enter Query :
22 rows in 0.00110051 seconds.

Enter Query :
1 rows in 0.0002224 seconds.

Enter Query :
1 rows in 0.00021664 seconds.

Enter Query :
100 rows in 0.000259008 seconds.

Enter Query :
100 rows in 0.00019776 seconds.

Enter Query :
100 rows in 0.000610976 seconds.

Enter Query :
100 rows in 0.000507808 seconds.

Enter Query :
100 rows in 0.00199779 seconds.

Enter Query :
100 rows in 0.0018656 seconds.

Enter Query :
54 rows in 0.00126582 seconds.

Enter Query :
Empty set in 0.000704064 seconds.

Enter Query :
Empty set in 0.000604864 seconds.

Enter Query :
55 rows in 0.00110038 seconds.

Enter Query :
1 rows in 0.0986894 seconds.

Enter Query :
135 rows in 0.0406626 seconds.

Enter Query :
1 rows in 0.0384554 seconds.

Enter Query :
1 rows in 0.00141427 seconds.

Enter Query :
100 rows in 0.000656992 seconds.

Enter Query :
1 rows in 0.0017593 seconds.

Enter Query :
1 rows in 0.00093744 seconds.

Enter Query :
100 rows in 0.00147658 seconds.

Enter Query :
5104 rows in 0.0287187 seconds.

Enter Query :
138 rows in 0.0409139 seconds.

Enter Query :
183 rows in 0.112979 seconds.

Enter Query :
8278 rows in 0.362369 seconds.

Enter Query :
Logging Out.

In [295]:
!./a.out < /content/GPU_Database/query_sqlite_txt

Enter Query :
Database changed

Enter Query :
2 rows in 0.00169098 seconds.

Enter Query :
5 rows in 0.00024928 seconds.

Enter Query :
1 rows in 0.00031024 seconds.

Enter Query :
5 rows in 0.00343562 seconds.

Enter Query :
4 rows in 0.0012193 seconds.

Enter Query :
5 rows in 0.00104317 seconds.

Enter Query :
5 rows in 0.000870784 seconds.

Enter Query :
6 rows in 0.00241328 seconds.

Enter Query :
1 rows in 0.000351456 seconds.

Enter Query :
1 rows in 0.000350656 seconds.

Enter Query :
6 rows in 0.00285098 seconds.

Enter Query :
6 rows in 0.00317942 seconds.

Enter Query :
1 rows in 0.00114378 seconds.

Enter Query :
Empty set in 0.000854208 seconds.

Enter Query :
5 rows in 0.000407936 seconds.

Enter Query :
5 rows in 0.000388672 seconds.

Enter Query :
Empty set in 0.000771776 seconds.

Enter Query :
Empty set in 0.00126362 seconds.

Enter Query :
2 rows in 0.00103094 seconds.

Enter Query :
1 rows in 0.000207616 seconds.

Enter Query :
1 rows in 0.000188128 seconds.

Enter Query :
6 rows in 0.000174848 seconds.

Enter Query :
6 rows in 0.00018896 seconds.

Enter Query :
6 rows in 0.000533056 seconds.

Enter Query :
6 rows in 0.000512864 seconds.

Enter Query :
5 rows in 0.00157005 seconds.

Enter Query :
5 rows in 0.00150499 seconds.

Enter Query :
5 rows in 0.000915296 seconds.

Enter Query :
6 rows in 0.00145917 seconds.

Enter Query :
1 rows in 0.00061808 seconds.

Enter Query :
Empty set in 0.000739072 seconds.

Enter Query :
1 rows in 0.00515453 seconds.

Enter Query :
Empty set in 0.00314006 seconds.

Enter Query :
1 rows in 0.00295626 seconds.

Enter Query :
1 rows in 0.00132451 seconds.

Enter Query :
5 rows in 0.000625952 seconds.

Enter Query :
1 rows in 0.00137024 seconds.

Enter Query :
1 rows in 0.000912512 seconds.

Enter Query :
Empty set in 0.00071408 seconds.

Enter Query :
15 rows in 0.00204566 seconds.

Enter Query :
5 rows in 0.00220909 seconds.

Enter Query :
5 rows in 0.00432138 seconds.

Enter Query :
5 rows in 0.00859827 seconds.

Enter Query :
Logging Out.

In [0]:
import sqlite3

In [0]:
conn = sqlite3.connect("test")

In [0]:
cursor = conn.cursor()

In [315]:
cursor.executescript("""
DROP TABLE IF EXISTS account;

CREATE TABLE account (
  account_id INTEGER PRIMARY KEY,
  account_district_id INTEGER NOT NULL,
  statement_freq INTEGER NOT NULL,
  date INTEGER NOT NULL
);

INSERT INTO account VALUES (576,55,0,930101);
INSERT INTO account VALUES (3818,74,1,930101);
INSERT INTO account VALUES (1539,1,1,930103);
INSERT INTO account VALUES (8051,1,2,930207);
INSERT INTO account VALUES (3048,74,2,930207);

DROP TABLE IF EXISTS card;

CREATE TABLE card (
  card_id INTEGER PRIMARY KEY,
  disp_id INTEGER NOT NULL,
  type INTEGER NOT NULL,
  issued INTEGER NOT NULL
);

INSERT INTO card VALUES(1005,9285,0,931107);
INSERT INTO card VALUES(104,588,0,940119);
INSERT INTO card VALUES(384,2475,1,940915);
INSERT INTO card VALUES(208,1246,2,950208);
INSERT INTO card VALUES(674,4360,0,981228);

DROP TABLE IF EXISTS client;

CREATE TABLE client (
  client_id INTEGER PRIMARY KEY,
  district_id INTEGER NOT NULL,
  client_age INTEGER NOT NULL,
  client_gender INTEGER NOT NULL
);

INSERT INTO client VALUES(1,74,20,0);
INSERT INTO client VALUES(3,1,52,1);
INSERT INTO client VALUES(115,55,18,0);
INSERT INTO client VALUES(4399,74,24,1);
INSERT INTO client VALUES(245,80,55,0);

DROP TABLE IF EXISTS disp;

CREATE TABLE disp (
  disp_id INTEGER PRIMARY KEY,
  client_id INTEGER NOT NULL,
  account_id INTEGER NOT NULL,
  disp_type INTEGER NOT NULL
);

INSERT INTO disp VALUES(2475,115,8051,0);
INSERT INTO disp VALUES(588,4399,3048,0);
INSERT INTO disp VALUES(1246,115,1539,0);
INSERT INTO disp VALUES(5887,245,3818,1);
INSERT INTO disp VALUES(1204,1,576,1);

DROP TABLE IF EXISTS district;

CREATE TABLE district (
  district_id INTEGER PRIMARY KEY,
  num_inhabitants INTEGER NOT NULL,
  num_munipalities_gt499 INTEGER NOT NULL,
  num_munipalities_500to1999 INTEGER NOT NULL,
  num_munipalities_2000to9999 INTEGER NOT NULL,
  num_munipalities_gt10000 INTEGER NOT NULL,
  num_cities INTEGER NOT NULL,
  ratio_urban REAL NOT NULL,
  average_salary INTEGER NOT NULL,
  unemp_rate95 REAL NOT NULL,
  unemp_rate96 REAL NOT NULL,
  num_entrep_per1000 INTEGER NOT NULL,
  num_crimes95 INTEGER NOT NULL,
  num_crimes96 INTEGER NOT NULL
);
INSERT INTO district VALUES(2,88884,80,26,6,2,5,46.7,8507,1.67,1.85,132,2159,2674);
INSERT INTO district VALUES(74,323870,0,0,0,1,1,100.0,10673,4.75,5.44,100,18782,18347);
INSERT INTO district VALUES(55,157042,49,70,18,0,9,33.9,8743,1.88,2.43,111,3659,3894
);
INSERT INTO district VALUES(1,1204953,0,0,0,1,1,100.0,12541,0.29,0.43,167,85677,99107
);
INSERT INTO district VALUES(12,107870,84,29,6,1,6,58.0,8754,3.83,4.31,137,3804,3868);

DROP TABLE IF EXISTS orders;


CREATE TABLE orders (
  order_id INTEGER PRIMARY KEY,
  account_id INTEGER NOT NULL,
  order_bank_to INTEGER NOT NULL,
  order_account_to INTEGER NOT NULL,
  order_amount REAL NOT NULL,
  order_k_symbol INTEGER NOT NULL
);


INSERT INTO orders VALUES(29401,1,2,8714,2452.00,0);
INSERT INTO orders VALUES(30253,576,2,3818,3662.00,0);
INSERT INTO orders VALUES(35032,3818,3,3048,1474.00,-1);
INSERT INTO orders VALUES(35033,3818,2,8051,4065.00,2);
INSERT INTO orders VALUES(33913,3048,1,576,4631.20,1);
INSERT INTO orders VALUES(41351,8051,4,576,4340.00,1);

DROP TABLE IF EXISTS loan;

CREATE TABLE loan (
  loan_id INTEGER PRIMARY KEY,
  account_id INTEGER NOT NULL,
  date INTEGER NOT NULL,
  loan_amount INTEGER NOT NULL,
  loan_duration INTEGER NOT NULL,
  monthly_loan_payment REAL NOT NULL,
  loan_status INTEGER NOT NULL
);

INSERT INTO loan VALUES(5316,1,930711,165960,36,4610.00,0);
INSERT INTO loan VALUES(6687,576,930913,87840,24,3660.00,0);
INSERT INTO loan VALUES(6077,3818,931122,79608,24,3317.00,1);
INSERT INTO loan VALUES(7097,576,931223,75624,24,3151.00,2);
INSERT INTO loan VALUES(5170,3048,940120,253200,60,4220.00,2);
INSERT INTO loan VALUES(6960,9640,950111,76416,24,3184.00,3);

DROP TABLE IF EXISTS trans;

CREATE TABLE trans (
  trans_id INTEGER PRIMARY KEY,
  account_id INTEGER NOT NULL,
  date INTEGER NOT NULL,
  trans_amount REAL NOT NULL,
  balance_after_trans REAL NOT NULL,
  trans_bank_partner INTEGER NOT NULL,
  trans_account_partner REAL NOT NULL,
  trans_type INTEGER NOT NULL,
  trans_operation INTEGER NOT NULL,
  trans_k_symbol INTEGER NOT NULL
);


INSERT INTO trans VALUES(695247,3048,930101,700.00,700.00,1,0,2,0,-1);
INSERT INTO trans VALUES(1117247,3818,930101,600.00,600.00,0,0,2,0,0);
INSERT INTO trans VALUES(579373,1,930102,400.00,400.00,0,1,1,1,-1);
INSERT INTO trans VALUES(637741,9640,930104,800.00,800.00,2,2,1,0,2);
INSERT INTO trans VALUES(689827,3818,930104,800.00,800.00,0,1,0,2,2);
INSERT INTO trans VALUES(61498,576,970105,1001.00,0.01,1,0,2,1,0);
""")

In [316]:
ff = open("/content/GPU_Database/query_actual_sqlite", "r")
tempp = ff.readlines()
ff.close()
for i in range(len(tempp)):
  try:
    cursor.execute(tempp[i]) 
    result = cursor.fetchall() 
    print("query "+str(i+1) + "\n")
    for elem in result:
      print(elem)
  except:
    print("query " + str(i+1) + "failed")

query 1

(1539, 1)
(3818, 1)
query 2

(930101,)
(930103,)
(930207,)
(930101,)
(930207,)
query 3

(41.0,)
query 4

(576, 55, 33.9)
(1539, 1, 100.0)
(3048, 74, 100.0)
(3818, 74, 100.0)
(8051, 1, 100.0)
query 5

(1539, 1)
(3048, 2)
(3818, 1)
(8051, 2)
query 6

(100.0, 10673, 4.75, 5.44)
(58.0, 8754, 3.83, 4.31)
(33.9, 8743, 1.88, 2.43)
(46.7, 8507, 1.67, 1.85)
(100.0, 12541, 0.29, 0.43)
query 7

(100.0, 12541, 0.43)
(46.7, 8507, 1.85)
(33.9, 8743, 2.43)
(58.0, 8754, 4.31)
(100.0, 10673, 5.44)
query 8failed
query 9

(4650719,)
query 10

(4650719,)
query 11failed
query 12failed
query 13

(1204, 576)
query 14

query 15

(3636,)
(1780,)
(2785,)
(10526,)
(9705,)
query 16

(3148,)
(676,)
(1639,)
(8151,)
(3918,)
query 17

query 18

query 19

(100.0,)
(100.0,)
query 20

(2,)
(2,)
(2,)
(2,)
(2,)
(2,)
query 21

(2.00001,)
(2.00001,)
(2.00001,)
(2.00001,)
(2.00001,)
query 22

(5170,)
(5316,)
(6077,)
(6687,)
(6960,)
(7097,)
query 23

(5170,)
(5316,)
(6077,)
(6687,)
(6960,)
(7097,)
query 24

(7097,)
(6960,)
(6077,)
(6687,)
(5170,)
(5316,)
query 25

(5170,)
(5316,)
(6077,)
(6687,)
(6960,)
(7097,)
query 26

(55, 157042, 49, 70, 18, 0, 9, 33.9, 8743, 1.88, 2.43, 111, 3659, 3894)
(2, 88884, 80, 26, 6, 2, 5, 46.7, 8507, 1.67, 1.85, 132, 2159, 2674)
(12, 107870, 84, 29, 6, 1, 6, 58.0, 8754, 3.83, 4.31, 137, 3804, 3868)
(1, 1204953, 0, 0, 0, 1, 1, 100.0, 12541, 0.29, 0.43, 167, 85677, 99107)
(74, 323870, 0, 0, 0, 1, 1, 100.0, 10673, 4.75, 5.44, 100, 18782, 18347)
query 27

(55, 157042, 49, 70, 18, 0, 9, 33.9, 8743, 1.88, 2.43, 111, 3659, 3894)
(2, 88884, 80, 26, 6, 2, 5, 46.7, 8507, 1.67, 1.85, 132, 2159, 2674)
(12, 107870, 84, 29, 6, 1, 6, 58.0, 8754, 3.83, 4.31, 137, 3804, 3868)
(1, 1204953, 0, 0, 0, 1, 1, 100.0, 12541, 0.29, 0.43, 167, 85677, 99107)
(74, 323870, 0, 0, 0, 1, 1, 100.0, 10673, 4.75, 5.44, 100, 18782, 18347)
query 28

(1,)
(2,)
(12,)
(55,)
(74,)
query 29

(5170, 3048, 940120, 253200, 60, 4220.0, 2)
(5316, 1, 930711, 165960, 36, 4610.0, 0)
(6077, 3818, 931122, 79608, 24, 3317.0, 1)
(6687, 576, 930913, 87840, 24, 3660.0, 0)
(6960, 9640, 950111, 76416, 24, 3184.0, 3)
(7097, 576, 931223, 75624, 24, 3151.0, 2)
query 30

(2.3,)
(2.3,)
(2.3,)
(2.3,)
(2.3,)
(2.3,)
query 31

query 32

(1129.5,)
query 33failed
query 34

(1204.0,)
query 35

(75624,)
query 36

(576, 4)
(1539, 0)
(3048, 6)
(3818, 6)
(8051, 0)
query 37

(1005, 9285, 0, 931107)
query 38

(75624,)
query 39

query 40

(104, 104)
(104, 208)
(104, 384)
(104, 674)
(104, 1005)
(208, 208)
(208, 384)
(208, 674)
(208, 1005)
(384, 384)
(384, 674)
(384, 1005)
(674, 674)
(674, 1005)
(1005, 1005)
query 41

(588, 4399, 3048, 0, 3048, 74, 2, 930207)
(1204, 1, 576, 1, 576, 55, 0, 930101)
(1246, 115, 1539, 0, 1539, 1, 1, 930103)
(2475, 115, 8051, 0, 8051, 1, 2, 930207)
(5887, 245, 3818, 1, 3818, 74, 1, 930101)
query 42

(588, 4399, 3048, 0, 3048, 74, 2, 930207, 4399, 74, 24, 1)
(1204, 1, 576, 1, 576, 55, 0, 930101, 1, 74, 20, 0)
(1246, 115, 1539, 0, 1539, 1, 1, 930103, 115, 55, 18, 0)
(2475, 115, 8051, 0, 8051, 1, 2, 930207, 115, 55, 18, 0)
(5887, 245, 3818, 1, 3818, 74, 1, 930101, 245, 80, 55, 0)
query 43

(588, 4399, 3048, 0, 4399, 74, 24, 1, 3048, 74, 2, 930207, None, None, None, None, None, None, None, None, None, None, None, None, None, None)
(1204, 1, 576, 1, 1, 74, 20, 0, 576, 55, 0, 930101, None, None, None, None, None, None, None, None, None, None, None, None, None, None)
(1246, 115, 1539, 0, 115, 55, 18, 0, 1539, 1, 1, 930103, None, None, None, None, None, None, None, None, None, None, None, None, None, None)
(2475, 115, 8051, 0, 115, 55, 18, 0, 8051, 1, 2, 930207, None, None, None, None, None, None, None, None, None, None, None, None, None, None)
(5887, 245, 3818, 1, 245, 80, 55, 0, 3818, 74, 1, 930101, None, None, None, None, None, None, None, None, None, None, None, None, None, None)

In [0]:
# cursor.execute("select a.account_id , o.account_id, order_amount from account as a left join orders as o on a.account_id == o.account_id;") 
# result = cursor.fetchall() 
# print(result)

In [0]:
conn.close()

In [358]:
!git clone https://$Username:$Password@github.com/trrishabh/GPU-DBMS.git

Cloning into 'GPU-DBMS'...
remote: Enumerating objects: 53, done.
remote: Counting objects: 100% (53/53), done.
remote: Compressing objects: 100% (48/48), done.
remote: Total 53 (delta 9), reused 0 (delta 0), pack-reused 0
Unpacking objects: 100% (53/53), done.